// Navigation
// NOTE: .navbar-default and .navbar-inverse are both supported with this theme.
nav.navbar.navbar-inverse.navbar-fixed-top.navbar-expanded
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        i.fa.fa-bars
        |  Menu
      a.navbar-brand.page-scroll(href='#page-top')
        img.img-responsive(src='img/agency/logo.svg', alt='')
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.hidden
          a.page-scroll(href='#page-top')
        li
          a.page-scroll(href='#about') About
        li
          a.page-scroll(href='#process') Process
        li
          a.page-scroll(href='#work') Work
        li
          a.page-scroll(href='#pricing') Pricing
        li
          a.page-scroll(href='#contact') Contact
// Header
header(style="background-image: url('img/agency/backgrounds/bg-header.jpg');")
  .intro-content
    img.img-responsive.img-centered(src='img/agency/profile.svg', alt='')
    .brand-name Vitality
    hr.colored
    .brand-name-subtext by Start Bootstrap
  .scroll-down
    a.btn.page-scroll(href='#about')
      i.fa.fa-angle-down.fa-fw
// About Section
section#about
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        h1 A Theme for Creatives & Agencies
        p Vitality is the perfect theme for a freelance professional or an agency.
        hr.colored
    .row.text-center.content-row
      .col-md-3.col-sm-6.wow.fadeIn(data-wow-delay='.2s')
        .about-content
          i.fa.fa-eye.fa-4x
          h3 Retina Ready
          p
            | This theme includes the retina.js plugin for easy retina image support so your images and graphics will look great on mobile devices!
      .col-md-3.col-sm-6.wow.fadeIn(data-wow-delay='.4s')
        .about-content
          i.fa.fa-edit.fa-4x
          h3 Easy to Edit
          p
            | Vitality is built using Bootstrap 3, and is easy to edit and customize. LESS files are included as well for deeper customization.
      .col-md-3.col-sm-6.wow.fadeIn(data-wow-delay='.6s')
        .about-content
          i.fa.fa-tablet.fa-4x
          h3 Responsive
          p
            | When building this theme, we've paid close attention to how it looks on various screen sizes. Try it out on a phone or tablet!
      .col-md-3.col-sm-6.wow.fadeIn(data-wow-delay='.8s')
        .about-content
          i.fa.fa-heart.fa-4x
          h3 Built with Love
          p
            | All of our themes are crafted with care, and we strive to make your experience as one of our customers the best as possible.
// Team Section
section.bg-gray
  .container.text-center.wow.fadeIn
    .row
      .col-lg-12
        h2 Our Team
        p
          | We are a group of digital marketers with a passion for great art that serves a practical purpose.
        hr.colored
    .row.content-row
      .col-lg-12
        .about-carousel
          // NOTE: You can add more items to the carousel, or remove items you don't need!
          // Team Member 1
          .item
            .overlay
            img.img-responsive(src='img/agency/team/1.jpg', alt='')
            .caption
              h3 Patricia West
              hr.colored
              p Marketing Director
              ul.list-inline.social
                li
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
          // Team Member 2
          .item
            .overlay
            img.img-responsive(src='img/agency/team/2.jpg', alt='')
            .caption
              h3 Howard Scott
              hr.colored
              p Sales Manager
              ul.list-inline.social
                li
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
          // Team Member 3
          .item
            .overlay
            img.img-responsive(src='img/agency/team/3.jpg', alt='')
            .caption
              h3 Kate Williams
              hr.colored
              p Creative Director
              ul.list-inline.social
                li
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
                li
                  a(href='#')
                    i.fa.fa-dribbble.fa-fw
          // Team Member 4
          .item
            .overlay
            img.img-responsive(src='img/agency/team/4.jpg', alt='')
            .caption
              h3 Jeremy Davidson
              hr.colored
              p Web Developer
              ul.list-inline.social
                li
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
                li
                  a(href='#')
                    i.fa.fa-github.fa-fw
          // Team Member 5
          .item
            .overlay
            img.img-responsive(src='img/agency/team/5.jpg', alt='')
            .caption
              h3 Amy Vanderbute
              hr.colored
              p Graphic Artist
              ul.list-inline.social
                li
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
                li
                  a(href='#')
                    i.fa.fa-dribbble.fa-fw
// Quote Call to Action
aside.cta-quote(style="background-image: url('img/agency/backgrounds/bg-aside.jpg');")
  .container.wow.fadeIn
    .row
      .col-md-10.col-md-offset-1
        span.quote
          | Good
          span.text-primary design
          |  is finding that perfect balance between the way something
          span.text-primary looks
          |  and how it
          span.text-primary functions
          | .
        hr.colored
        a.btn.btn-outline-light.page-scroll(href='#process') How We Work
// Services Section
section#process.services
  .container
    .row.text-center
      .col-lg-12.wow.fadeIn
        h2 Our Process
        hr.colored
        p Here is an overview of how we approach each new project.
    .row.content-row
      // Service Item 1
      .col-md-4.wow.fadeIn(data-wow-delay='.2s')
        .media
          .pull-left
            i.fa.fa-clipboard
          .media-body
            h3.media-heading Plan
            ul
              li Client interview
              li Gather consumer data
              li Create content strategy
              li Analyze research
      // Service Item 2
      .col-md-4.wow.fadeIn(data-wow-delay='.4s')
        .media
          .pull-left
            i.fa.fa-pencil
          .media-body
            h3.media-heading Create
            ul
              li Build wireframe
              li Gather client feedback
              li Code development
              li Marketing review
      // Service Item 3
      .col-md-4.wow.fadeIn(data-wow-delay='.6s')
        .media
          .pull-left
            i.fa.fa-rocket
          .media-body
            h3.media-heading Launch
            ul
              li Deploy website
              li Market product launch
              li Collect UX data
              li Quarterly maintenence
// Portfolio Carousel Heading
section#work.bg-gray
  .container.text-center.wow.fadeIn
    h2 Our Work
    hr.colored
    p Here are some examples of our work.
// Portfolio Carousel
section.portfolio-carousel.wow.fadeIn
  // NOTE: You can add more items to the carousel, or remove items you don't need!
  // Carousel Item 1
  .item(style="background-image: url('img/agency/portfolio/carousel/bg-1.jpg')")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Project Name
            span.project-description Branding, Website Design
            hr.colored
            a.btn.btn-outline-light(href='#portfolioModal1', data-toggle='modal')
              | View Details
              i.fa.fa-long-arrow-right.fa-fw
        .col-md-7.col-md-pull-5.hidden-xs
          .device-container
            .device-mockup.macbook.portrait.black
              .device
                .screen
                  img.img-responsive(src='img/agency/portfolio/carousel/screen-1a.jpg', alt='')
  // Carousel Item 2
  .item(style="background-image: url('img/agency/portfolio/carousel/bg-2.jpg')")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Project Name
            span.project-description Branding, Website Design
            hr.colored
            a.btn.btn-outline-light(href='#portfolioModal2', data-toggle='modal')
              | View Details
              i.fa.fa-long-arrow-right.fa-fw
        .col-md-7.col-md-pull-5.hidden-xs
          .device-container
            .device-mockup.macbook.portrait.black
              .device
                .screen
                  img.img-responsive(src='img/agency/portfolio/carousel/screen-2a.jpg', alt='')
  // Carousel Item 3
  .item(style="background-image: url('img/agency/portfolio/carousel/bg-3.jpg')")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Project Name
            span.project-description Branding, Website Design
            hr.colored
            a.btn.btn-outline-light(href='#portfolioModal3', data-toggle='modal')
              | View Details
              i.fa.fa-long-arrow-right.fa-fw
        .col-md-7.col-md-pull-5.hidden-xs
          .device-container
            .device-mockup.macbook.portrait.black
              .device
                .screen
                  img.img-responsive(src='img/agency/portfolio/carousel/screen-3a.jpg', alt='')
  // Carousel Item 4
  .item(style="background-image: url('img/agency/portfolio/carousel/bg-4.jpg')")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Project Name
            span.project-description Branding, Website Design
            hr.colored
            a.btn.btn-outline-light(href='#portfolioModal4', data-toggle='modal')
              | View Details
              i.fa.fa-long-arrow-right.fa-fw
        .col-md-7.col-md-pull-5.hidden-xs
          .device-container
            .device-mockup.macbook.portrait.black
              .device
                .screen
                  img.img-responsive(src='img/agency/portfolio/carousel/screen-4.jpg', alt='')
// Portfolio Grid Section
section
  .container.text-center.wow.fadeIn
    h2 Portfolio
    hr.colored
    p Here are some other projects that we've worked on.
    .row.content-row
      .col-lg-12
        .portfolio-filter
          ul#filters.clearfix
            li
              span.filter.active(data-filter='all') All
            li
              span.filter(data-filter='.identity') Identity
            li
              span.filter(data-filter='.graphic') Graphic
            li
              span.filter(data-filter='.web') Web
    .row
      .col-lg-12
        #portfoliolist
          // NOTE: You can add more items to the grid, or remove items you don't need!
          // Grid Item 1
          .mix.identity(href='img/agency/portfolio/grid/grid-1.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-1.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Brand Identity
                .caption-bg
          // Grid Item 2
          .mix.web(href='img/agency/portfolio/grid/grid-2.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-2.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Web Development
                .caption-bg
          // Grid Item 3
          .mix.web(href='img/agency/portfolio/grid/grid-3.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-3.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Web Development
                .caption-bg
          // Grid Item 4
          .mix.identity(href='img/agency/portfolio/grid/grid-4.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-4.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Brand Identity
                .caption-bg
          // Grid Item 5
          .mix.web(href='img/agency/portfolio/grid/grid-5.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-5.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Web Development
                .caption-bg
          // Grid Item 6
          .mix.graphic(href='img/agency/portfolio/grid/grid-6.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-6.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Graphic Design
                .caption-bg
          // Grid Item 7
          .mix.graphic(href='img/agency/portfolio/grid/grid-7.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-7.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Graphic Design
                .caption-bg
          // Grid Item 8
          .mix.web(href='img/agency/portfolio/grid/grid-8.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-8.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Web Development
                .caption-bg
          // Grid Item 9
          .mix.identity(href='img/agency/portfolio/grid/grid-9.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-9.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Brand Identity
                .caption-bg
// Testomonials Section
section.testimonials.bg-gray
  .container.wow.fadeIn
    .row
      .col-lg-10.col-lg-offset-1
        .testimonials-carousel
          // NOTE: You can add more items to the carousel, or remove items you don't need!
          // Testimonial Item 1
          .item
            .row
              .col-lg-12
                p.lead "Working with Vitality was both a valuable and rewarding experience."
                hr.colored
                p.quote
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati vero ipsam aut fugit?
                .testimonial-info
                  .testimonial-img
                    img.img-circle.img-responsive(src='img/agency/testimonials/1.jpg', alt='')
                  .testimonial-author
                    span.name Jim Walker
                    p.small CEO of Company Name
                    .stars
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
          // Testimonial Item 2
          .item
            .row
              .col-lg-12
                p.lead "Vitality is a well coded, well documented, and easy to use theme!"
                hr.colored
                p.quote
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem amet rem minus dolorum, facere in soluta explicabo, unde eveniet illo vel, nemo nostrum atque nesciunt facilis quaerat quasi reprehenderit dicta.
                .testimonial-info
                  .testimonial-img
                    img.img-circle.img-responsive(src='img/agency/testimonials/2.jpg', alt='')
                  .testimonial-author
                    span.name Ashley Creadle
                    p.small Creative Director of Company Name
                    .stars
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
// Pricing Section
section#pricing.pricing(style="background-image: url('img/agency/backgrounds/bg-pricing.jpg')")
  .container.wow.fadeIn
    .row.text-center
      .col-lg-12
        h2 Pricing
        hr.colored
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, quae, laborum, voluptate delectus odio doloremque error porro obcaecati nemo animi ducimus quaerat nostrum? Ab molestiae eaque et atque architecto reiciendis.
    .row.content-row
      // Pricing Table 1
      .col-md-4
        .pricing-item.featured-first
          h3 Basic
          hr.colored
          .price
            span.number
              sup $
              | 25
            |  / month
          ul.list-group
            li.list-group-item 60 Users
            li.list-group-item Unlimited Forums
            li.list-group-item Unlimited Reports
            li.list-group-item 3,000 Entries per Month
            li.list-group-item 200 MB Storage
            li.list-group-item Unlimited Support
          a.btn.btn-outline-dark(href='#') Sign Up
      // Pricing Table 2
      .col-md-4
        .pricing-item.featured
          h3 Plus
          hr.colored
          .price
            span.number
              sup $
              | 50
            |  / month
          ul.list-group
            li.list-group-item
              strong 60
              |  Users
            li.list-group-item Unlimited Forums
            li.list-group-item Unlimited Reports
            li.list-group-item
              strong 3,000
              |  Entries per Month
            li.list-group-item
              strong 200 MB
              |  Storage
            li.list-group-item Unlimited Support
          a.btn.btn-outline-dark(href='#') Sign Up
      // Pricing Table 3
      .col-md-4
        .pricing-item.featured-last
          h3 Premium
          hr.colored
          .price
            span.number
              sup $
              | 150
            |  / month
          ul.list-group
            li.list-group-item 60 Users
            li.list-group-item Unlimited Forums
            li.list-group-item Unlimited Reports
            li.list-group-item 3,000 Entries per Month
            li.list-group-item 200 MB Storage
            li.list-group-item Unlimited Support
          a.btn.btn-outline-dark(href='#') Sign Up
// Newsletter Signup Call to Action
section.cta-form.bg-dark
  .container.text-center
    h3 Subscribe to our newsletter!
    hr.colored
    .row
      .col-lg-8.col-lg-offset-2
        // MailChimp Signup Form
        #mc_embed_signup
          // Replace the form action in the line below with your MailChimp embed action! Visit the documentation for additional instructions!
          form#mc-embedded-subscribe-form(role='form', action='//startbootstrap.us3.list-manage.com/subscribe/post?u=531af730d8629808bd96cf489&id=afb284632f', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            .input-group.input-group-lg
              input#mce-EMAIL.form-control(type='email', name='EMAIL', placeholder='Email address...')
              span.input-group-btn
                button#mc-embedded-subscribe.btn.btn-primary(type='submit', name='subscribe') Subscribe!
            #mce-responses
              #mce-error-response.response(style='display:none')
              #mce-success-response.response(style='display:none')
        // End MailChimp Signup Form
// Contact Section
section#contact
  .container.wow.fadeIn
    .row
      .col-lg-12.text-center
        h2 Contact Us
        hr.colored
        p
          | Please tell us about your next project and we will let you know what we can do to help you.
    .row.content-row
      .col-lg-8.col-lg-offset-2
        form#contactForm(name='sentMessage', novalidate='')
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Name
              input#name.form-control(type='text', placeholder='Name', required='', data-validation-required-message='Please enter your name.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Email Address
              input#email.form-control(type='email', placeholder='Email Address', required='', data-validation-required-message='Please enter your email address.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Phone Number
              input#phone.form-control(type='tel', placeholder='Phone Number', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Message
              textarea#message.form-control(rows='5', placeholder='Message', required='', data-validation-required-message='Please enter a message.')
              p.help-block.text-danger
          br
          #success
          .row
            .form-group.col-xs-12
              button.btn.btn-outline-dark(type='submit') Send
// Block Button Call to Action
a.btn.btn-block.btn-full-width(href='https://wrapbootstrap.com/theme/vitality-multipurpose-one-page-theme-WB02K3KK3') Buy Vitality Now!
// Footer
footer.footer(style="background-image: url('img/agency/backgrounds/bg-footer.jpg')")
  .container.text-center
    .row
      .col-md-4.contact-details
        h4
          i.fa.fa-phone
          |  Call
        p 555-213-4567
      .col-md-4.contact-details
        h4
          i.fa.fa-map-marker
          |  Visit
        p
          | 3481 Melrose Place
          br
          | Beverly Hills, CA 90210
      .col-md-4.contact-details
        h4
          i.fa.fa-envelope
          |  Email
        p
          a(href='mailto:mail@example.com') mail@example.com
    .row.social
      .col-lg-12
        ul.list-inline
          li
            a(href='#')
              i.fa.fa-facebook.fa-fw.fa-2x
          li
            a(href='#')
              i.fa.fa-twitter.fa-fw.fa-2x
          li
            a(href='#')
              i.fa.fa-linkedin.fa-fw.fa-2x
    .row.copyright
      .col-lg-12
        p.small © 2016 Start Bootstrap Themes
// Portfolio Modals
// Example Modal 1: Corresponds with Portfolio Carousel Item 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true', style="background-image: url('img/agency/portfolio/carousel/bg-1.jpg')")
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Project Name
            hr.colored
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.
          .col-md-8.col-md-offset-2
            .device-mockup.macbook.portrait.black
              .device
                .screen
                  // Modal Mockup Option 1: Single Image (Uncomment Below to Use)
                  // <img src="img/agency/portfolio/carousel/screen-1a.jpg" class="img-responsive" alt="">
                  // Modal Mockup Option 2: Carousel (Example In Use Below)
                  .mockup-carousel
                    .item
                      img.img-responsive(src='img/agency/portfolio/carousel/screen-1a.jpg', alt='')
                    .item
                      img.img-responsive(src='img/agency/portfolio/carousel/screen-1b.jpg', alt='')
                    .item
                      img.img-responsive(src='img/agency/portfolio/carousel/screen-1c.jpg', alt='')
          .col-md-8.col-md-offset-2
            ul.list-inline.item-details
              li
                | Client:
                strong Start Bootstrap
              li
                | Date:
                strong April 2015
              li
                | Service:
                strong Web Development
            button.btn.btn-default(type='button', data-dismiss='modal')
              i.fa.fa-times
              |  Close
// Example Modal 2: Corresponds with Portfolio Carousel Item 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true', style="background-image: url('img/agency/portfolio/carousel/bg-2.jpg')")
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Project Name
            hr.colored
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.
          .col-md-8.col-md-offset-2
            .device-mockup.macbook.portrait.black
              .device
                .screen
                  // Modal Mockup Option 1: Single Image (Uncomment Below to Use)
                  // <img src="img/agency/portfolio/carousel/screen-2a.jpg" class="img-responsive" alt="">
                  // Modal Mockup Option 2: Carousel (Example In Use Below)
                  .mockup-carousel
                    .item
                      img.img-responsive(src='img/agency/portfolio/carousel/screen-2a.jpg', alt='')
                    .item
                      img.img-responsive(src='img/agency/portfolio/carousel/screen-2b.jpg', alt='')
                    .item
                      img.img-responsive(src='img/agency/portfolio/carousel/screen-2c.jpg', alt='')
          .col-md-8.col-md-offset-2
            ul.list-inline.item-details
              li
                | Client:
                strong Start Bootstrap
              li
                | Date:
                strong April 2015
              li
                | Service:
                strong Web Development
            button.btn.btn-default(type='button', data-dismiss='modal')
              i.fa.fa-times
              |  Close
// Example Modal 3: Corresponds with Portfolio Carousel Item 3
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true', style="background-image: url('img/agency/portfolio/carousel/bg-3.jpg')")
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Project Name
            hr.colored
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.
          .col-md-8.col-md-offset-2
            .device-mockup.macbook.portrait.black
              .device
                .screen
                  // Modal Mockup Option 1: Single Image (Uncomment Below to Use)
                  // <img src="img/agency/portfolio/carousel/screen-3a.jpg" class="img-responsive" alt="">
                  // Modal Mockup Option 2: Carousel (Example In Use Below)
                  .mockup-carousel
                    .item
                      img.img-responsive(src='img/agency/portfolio/carousel/screen-3a.jpg', alt='')
                    .item
                      img.img-responsive(src='img/agency/portfolio/carousel/screen-3b.jpg', alt='')
                    .item
                      img.img-responsive(src='img/agency/portfolio/carousel/screen-3c.jpg', alt='')
          .col-md-8.col-md-offset-2
            ul.list-inline.item-details
              li
                | Client:
                strong Start Bootstrap
              li
                | Date:
                strong April 2015
              li
                | Service:
                strong Web Development
            button.btn.btn-default(type='button', data-dismiss='modal')
              i.fa.fa-times
              |  Close
// Example Modal 4: Corresponds with Portfolio Carousel Item 4
#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true', style="background-image: url('img/agency/portfolio/carousel/bg-4.jpg')")
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Project Name
            hr.colored
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos modi in tenetur vero voluptatum sapiente dolores eligendi nemo iste ea. Omnis, odio enim sint quam dolorum dolorem. Nostrum, minus, ad.
          .col-md-8.col-md-offset-2
            .device-mockup.macbook.portrait.black
              .device
                .screen
                  // Modal Mockup Option 1: Single Image (Example In Use Below)
                  img.img-responsive(src='img/agency/portfolio/carousel/screen-4.jpg', alt='')
                  // Modal Mockup Option 2: Carousel (Uncomment Below to Use)
                  //
                    <div class="mockup-carousel">
                    <div class="item">
                    <img src="img/agency/portfolio/carousel/screen-1a.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="item">
                    <img src="img/agency/portfolio/carousel/screen-2a.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="item">
                    <img src="img/agency/portfolio/carousel/screen-3a.jpg" class="img-responsive" alt="">
                    </div>
                    </div>
          .col-md-8.col-md-offset-2
            ul.list-inline.item-details
              li
                | Client:
                strong Start Bootstrap
              li
                | Date:
                strong April 2015
              li
                | Service:
                strong Web Development
            button.btn.btn-default(type='button', data-dismiss='modal')
              i.fa.fa-times
              |  Close
// Core Scripts
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
script(src='js/classie.js')
script(src='js/cbpAnimatedHeader.js')
// Plugin Scripts
script(src='vendor/jquery.easing/jquery.easing.min.js')
script(src='vendor/owl-carousel/owl.carousel.js')
script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
script(src='vendor/formstone/core.js')
script(src='vendor/formstone/transition.js')
script(src='vendor/formstone/background.js')
script(src='vendor/mixitup/jquery.mixitup.js')
script(src='vendor/wow/wow.min.js')
// Contact Form Scripts
script(src='js/contact_me.js')
script(src='js/jqBootstrapValidation.js')
// Vitality Theme Scripts
script(src='js/vitality.js')

