#casa-martins.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/#projects-casa-martins")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Casa Martins
            hr.colored
            section.content
              p Localizada no Santo da Serra, envolvida pela Natureza, esta moradia implanta-se num lote de 13.000m2, na zona mais elevada do terreno, com excelente exposição solar por um lado, e com vista mar e ilhas desertas do outro.

              p A casa desenvolve-se em apenas um piso, na tipologia T4, numa área de 138m2, que privilegia as áreas sociais e o tempo passado entre amigos e família.

              p Grandes áreas envidraçadas em todo o perímetro, garantem uma excelente luminosidade, um aproveitamento máximo da luz solar, e a excelente vista para o Sul.

              p  Esta casa foi feita à medida do cliente, e lembre-se que podemos fazer o mesmo consigo e a sua nova casa.

              a.btn.btn-block.page-scroll(href="/#contact")
                | Fale connosco
        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/casa-martins/opti-casa-martins-small.jpg 768w, /img/opti/portfolio/casa-martins/opti-casa-martins-1200.jpg 1200w, /img/opti/portfolio/casa-martins/opti-casa-martins.jpg 1900w', alt='OPTi Casa Martins')

          hr.colored
          h3 T4 . 138m2
          img.img-responsive(src='/img/opti/portfolio/casa-martins/opti-casa-martins-planta.jpg', alt='OPTi Casa Martins T4 - planta')

          hr.colored

        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/#contact') Construimos uma casa à sua medida.<br>Fale connosco.
    .close-modal-bottom
      a(href="/#projects-casa-martins")
        .close-modal
          .lr
            .rl