#casa-tatami.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/#projects-casa-tatami")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Casa Tatami
            hr.colored
            section.content
              p Fantástica casa para pequenos lotes urbanos. Um compromisso excelente entre qualidade e preço.
              p
                | A Casa Tatami, com 150m2, desenvolve-se em 2 pisos que dividem o seu programa em áreas privadas (quartos e w.c) no piso superior, e áreas comuns no piso térreo. É perfeita para uma família em crescimento.
              p
                | O modelo base é um T3, com 1 suite e 2 quartos de dormir, 2 w.c, 1 sala de estar, cozinha e garagem. Mas temos outros layouts à sua escolha, como por exemplo o T4, com áreas mais generosas.
              p
                | E lembre-se, podemos trabalhar consigo para criar um layout à sua medida.
              a.btn.btn-block.page-scroll(href="/#contact")
                | Fale connosco
        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/casa-tatami/opti-casa-tatami-small.jpg 768w, /img/opti/portfolio/casa-tatami/opti-casa-tatami-1200.jpg 1200w, /img/opti/portfolio/casa-tatami/opti-casa-tatami.jpg 1900w', alt='OPTi Casa Tatami')

          hr.colored
          h3 T3 . 150m2
          img.img-responsive(src='/img/opti/portfolio/casa-tatami/opti-casa-tatami-planta-t3.jpg', alt='OPTi Casa Tatami T3 - planta')

          hr.colored
          h3 T4 . 200m2
          img.img-responsive(src='/img/opti/portfolio/casa-tatami/opti-casa-tatami-planta-t4.jpg', alt='OPTi Casa Tatami T4 - planta')
          //- .mockup-carousel
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-3a.jpg', alt='')
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-3b.jpg', alt='')
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-3c.jpg', alt='')
          hr.colored

        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/#contact') Construimos uma casa à sua medida.<br>Fale connosco.
    .close-modal-bottom
      a(href="/#projects-casa-tatami")
        .close-modal
          .lr
            .rl