#casa-grandola.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/#projects-casa-grandola")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Casa Grândola
            hr.colored
            section.content
              p
                | A Casa Grândola, com 200m2, desenvolve-se em dois pisos que dividem o seu programa em áreas privadas (quartos e WC) no piso superior, e áreas comuns no piso térreo. É perfeita para uma família em crescimento.
              p
                | O modelo base é um T4, com uma suite e três quartos de dormir, três WC, uma sala de estar, cozinha, alpendre e varanda. Também temos outros layouts à sua escolha, como por exemplo o T3 com áreas mais generosas.
              p
                | E lembre-se, podemos trabalhar consigo para criar um layout à sua medida.
              a.btn.btn-block.page-scroll(href="/#contact")
                | Fale connosco

        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/casa-grandola/opti-casa-grandola-small.jpg 768w, /img/opti/portfolio/casa-grandola/opti-casa-grandola-1200.jpg 1200w, /img/opti/portfolio/casa-grandola/opti-casa-grandola.jpg 1900w', alt='OPTi Casa Grândola')
          hr.colored

          h3 T3, 200 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-grandola/opti-casa-grandola-planta-t3.jpg', alt='OPTi Casa Grândola T3 - planta')
          hr.colored

          h3 T4, 200 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-grandola/opti-casa-grandola-planta-t4.jpg', alt='OPTi Casa Grândola T4 - planta')
          hr.colored

        .row
          .col-md-8.col-md-offset-2

            //- .mockup-carousel
            //-   .item
            //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-2a.jpg', alt='')
            //-   .item
            //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-2b.jpg', alt='')
            //-   .item
            //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-2c.jpg', alt='')
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/#contact') Construimos uma casa à sua medida.<br>Fale connosco.
    .close-modal-bottom
      a(href="/#projects-casa-grandola")
        .close-modal
          .lr
            .rl