#casa-palmeira.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/#projects-casa-palmeira")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Casa Palmeira
            hr.colored
            section.content
              p
                | A Casa Palmeira, disponível para as Tipologias T1, T2 e T3, desenvolve-se num único piso térreo. Com áreas generosas, toda a casa vive em contacto como alpendre exterior.
              p
                | O modelo base é um T3, com 1 suite e 2 quartos de dormir, 2 w.c, 1 sala de estar, cozinha, e alpendre.
              p
                | Mas temos outros layouts à sua escolha, como por exemplo o T2 ou o T1, ambos com áreas generosas
              p
                | E lembre-se, podemos trabalhar consigo para criar um layout à sua medida.
              a.btn.btn-block.page-scroll(href="/#contact")
                | Fale connosco

        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/casa-palmeira/opti-casa-palmeira-small.jpg 768w, /img/opti/portfolio/casa-palmeira/opti-casa-palmeira-1200.jpg 1200w, /img/opti/portfolio/casa-palmeira/opti-casa-palmeira.jpg 1900w', alt='OPTi Casa Palmeira')
          hr.colored

          h3 T1, 87 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-palmeira/opti-casa-palmeira-t1.jpg', alt='OPTi Casa Palmeira T2 - planta')
          hr.colored

          h3 T2, 129 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-palmeira/opti-casa-palmeira-t2g.jpg', alt='OPTi Casa Palmeira T2 grande - planta')
          hr.colored

          h3 T3, 161 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-palmeira/opti-casa-palmeira-t3.jpg', alt='OPTi Casa Palmeira T3 - planta')
          hr.colored

        .row
          .col-md-8.col-md-offset-2

            //- .mockup-carousel
            //-   .item
            //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-2a.jpg', alt='')
            //-   .item
            //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-2b.jpg', alt='')
            //-   .item
            //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-2c.jpg', alt='')
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/#contact') Podemos desenhar-lhe uma casa à medida do seu gosto.<br>Fale connosco.
    .close-modal-bottom
      a(href="/#projects-casa-palmeira")
        .close-modal
          .lr
            .rl