#casa-porto-santo.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/#projects-casa-porto-santo")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2.darkened
            h2 Casa Porto Santo
            hr.colored
            section.content
              p
                | A Casa de praia com que sempre sonhou!
              p
                | A Casa Porto Santo, disponível para as Tipologias T2, T3 e T4, desenvolve-se num único piso térreo. Com áreas generosas, toda a moradia está voltada para a melhor vista, beneficiando do alpendre que atravessa toda a casa, para um melhor usufruto das áreas interiores e exteriores.
              p
                | O modelo base é um T2, com uma suite e dois quartos de dormir, um WC, uma sala de estar, cozinha e um grande alpendre .
              p
                | Também temos outros layouts à sua escolha, como por exemplo o T2 mais pequeno, e tambem o T3 e T4.
              p
                | E lembre-se, podemos trabalhar consigo para criar um layout à sua medida.

              a.btn.btn-block.page-scroll(href="/#contact")
                | Fale connosco

        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-small.jpg 768w, /img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-1200.jpg 1200w, /img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo.jpg 1900w', alt='OPTi Casa Porto Santo')
          hr.colored

          h3 T3, 161 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-planta-t3.jpg', alt='OPTi Casa Porto Santo T3 - planta')
          hr.colored

          h3 T2, 161 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-planta-t2-g.jpg', alt='OPTi Casa Porto Santo T2 - 162m2 - planta')
          hr.colored

          h3 T2, 108 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-planta-t2.jpg', alt='OPTi Casa Porto Santo T2 - 108m2 - planta')
          hr.colored

          //- .mockup-carousel
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-1a.jpg', alt='')
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-1b.jpg', alt='')
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-1c.jpg', alt='')
        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/#contact') Podemos desenhar-lhe uma casa à medida do seu gosto.<br>Fale connosco.
    .close-modal-bottom
      a(href="/#projects-casa-porto-santo")
        .close-modal
          .lr
            .rl