#edificio-manhattan.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/#projects-edificio-manhattan")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Edifício Manhattan
            hr.colored
            section.content
              p
                | Os edifícios OPTi são construídos em <b>menos de 6 meses</b>.
                | Se quer <b>mais qualidade</b> em menos tempo, fale connosco.
              p
                | O Edifício Mnahattan tem 4.012m2 de construção,
                | sendo que o piso térreo prevê comércio, e os 5 pisos
                | superiores comportam 25 apartamentos T2 e T3.
              p
                | Este edifício, projectado para um centro urbano, tem
                | um custo de €3.330.000 e a sua construção rápida
                | permite acrescentar 10 meses de rendas. O sistema
                | OPTi permite reduzir custos em outros 20 a 30%, aos
                | quais se somam o valor das referidas rendas.
              p
                | Podemos trabalhar consigo no seu projecto,
                | sabendo que vai ter um retorno superior do seu
                | investimento, num prazo muito mais curto.
              a.btn.btn-block.page-scroll(href="/#contact")
                | Fale connosco
        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/edificio-manhattan/opti-edificio-manhattan-small.jpg 768w, /img/opti/portfolio/edificio-manhattan/opti-edificio-manhattan-1200.jpg 1200w, /img/opti/portfolio/edificio-manhattan/opti-edificio-manhattan.jpg 1900w', alt='OPTi Edifício Manhattan')

          hr.colored
          img.img-responsive(src='/img/opti/portfolio/edificio-manhattan/opti-edificio-manhattan-planta.jpg', alt='OPTi Edifício Manhattan - planta')

          hr.colored

        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/#contact') Podemos desenhar-lhe uma solução à sua medida.<br>Fale connosco.
    .close-modal-bottom
      a(href="/#projects-edificio-manhattan")
        .close-modal
          .lr
            .rl