#edificio-camden.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/#projects-edificio-camden")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Edifício Camden
            hr.colored
            section.content
              p
                | Os edifícios OPTi são construídos em <b>menos de 6 meses</b>.
                | Se quer mais qualidade em menos tempo, fale connosco.
              p
                | O Edifício Camden tem 1.150m2 de construção, sendo que
                | o piso térreo prevê comércio, e os 4 pisos superiores
                | comportam 8 apartamentos T2 e T3.
              p
                | Este edifício, projectado para o centro urbano de
                | Londres, teve um custo inferior em 33% as restantes
                | propostas. E a sua construção será muito rápida.
              p
                | <b>Podemos trabalhar consigo no seu projecto</b>,
                | sabendo que vai ter um <b>retorno superior do seu
                | investimento, num prazo muito mais curto</b>.
              a.btn.btn-block.page-scroll(href="/#contact")
                | Fale connosco
        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/edificio-camden/opti-edificio-camden-small.jpg 768w, /img/opti/portfolio/edificio-camden/opti-edificio-camden-1200.jpg 1200w, /img/opti/portfolio/edificio-camden/opti-edificio-camden.jpg 1900w', alt='OPTi Edifício Camden')

          hr.colored
          img.img-responsive(src='/img/opti/portfolio/edificio-camden/opti-edificio-camden-planta.jpg', alt='OPTi Edifício Camden - planta')

          hr.colored

        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/#contact') Podemos desenhar-lhe uma casa à medida do seu gosto.<br>Fale connosco.
    .close-modal-bottom
      a(href="/#projects-edificio-camden")
        .close-modal
          .lr
            .rl