#campanha-evolui.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0; background-color: rgba(255, 255, 255, 255); opacity: 1")
  .modal-content(style="background: rgba(255,255,255,255); color: black; text-align: left")
    .modal-head
      .container
        .row
          .col-md-12.text-center(style="margin-top: -6em")
            img.img-responsive.img-centered(src='/img/opti/logos/opti-b-horizontal.svg', alt='OPTi', style="max-width: 50%; margin-bottom: 4em")
            h1 A evolução é natural
            h3(style="margin-bottom: 4em") Evolua você também na sua casa nova
    .modal-body
        .row
          .col-md-8
            h3 Casas tecnologicamente avançadas
            img.img-responsive.main.small(src="/img/opti/campaigns/evolui/tecnologia-casas-opti.png" alt='Tecnologia Casas OPTi')
            p
              | As casas OPTi resultam de vários anos de investigação e desenvolvimento e apresentam as mais avançadas soluções tecnológicas aplicadas na construção, oferecendo elevados níveis de qualidade, conforto e resistência.
            a.btn.btn-block.btn-default(href="/")
              | Ver as casas OPTi
          .col-md-4
            img.img-responsive.main.full(src="/img/opti/campaigns/evolui/tecnologia-casas-opti.png" alt='Tecnologia Casas OPTi')

        .row
          .col-md-4.campaign-left
            img.img-responsive.main.full(src="/img/opti/campaigns/evolui/isolamento-casas-opti.png" alt='Isolamento Casas OPTi')
          .col-md-8
            h3 Isolamento e conforto máximo
            img.img-responsive.main.small(src="/img/opti/campaigns/evolui/isolamento-casas-opti.png" alt='Isolamento Casas OPTi')
            p
              | Com a utilização de uma estrutura metálica conjugada com painéis compósitos, as casas OPTi garantem o maior conforto que pode ter na sua casa, durante todo o ano, seja do ponto de vista térmico, mas também acústico.
            a.btn.btn-block.btn-default(href="/")
              | Ver as casas OPTi

        .row
          .col-md-8
            h3 Estamos mais à frente
            img.img-responsive.main.small(src="/img/opti/campaigns/evolui/sustentavel-casas-opti.png" alt='Sustentável Casas OPTi')
            p
              | As casas OPTi estão à frente do seu tempo, cumprindo já em 2017 a legislação do programa 2020, no que diz respeito a níveis de conforto e isolamento, sendo que os certificados energéticos apontam para os escalões mais altos (A e B).
            a.btn.btn-block.btn-default(href="/")
              | Ver as casas OPTi
          .col-md-4
            img.img-responsive.main.full(src="/img/opti/campaigns/evolui/sustentavel-casas-opti.png" alt='Sustentável Casas OPTi')

        .row
          .col-md-4.campaign-left
            img.img-responsive.main.full(src="/img/opti/campaigns/evolui/manutencao-casas-opti.png" alt='Manutenção Casas OPTi')
          .col-md-8
            h3 Uma casa fácil de manter
            img.img-responsive.main.small(src="/img/opti/campaigns/evolui/manutencao-casas-opti.png" alt='Manutenção Casas OPTi')
            p
              | A nível de manutenção, as casas OPTi não sofrem dos males da construção tradicional, nomeadamente o aparecimento de fissuras, infiltrações, de humidades e fungos, associados à utilização de areias marítimas.
            a.btn.btn-block.btn-default(href="/")
              | Ver as casas OPTi

        .row
          .col-md-8
            h3 Planeamento ao pormenor e rápida execução
            img.img-responsive.main.small(src="/img/opti/campaigns/evolui/rapidez-casas-opti.png" alt='Rapidez Casas OPTi')
            p
              | Todo o processo de construção é planeado e projetado com antecedência, com parte do processo a ser executado em ambiente controlado de fábrica, e a montagem é feita no local de forma rápida e precisa, sendo necessário apenas 3 meses  para a conclusão da moradia.
            a.btn.btn-block.btn-default(href="/")
              | Ver as casas OPTi
          .col-md-4
            img.img-responsive.main.full(src="/img/opti/campaigns/evolui/rapidez-casas-opti.png" alt='Rapidez Casas OPTi')

        .row
          .col-md-4.campaign-left
            img.img-responsive.main.full(src="/img/opti/campaigns/evolui/seguranca-casas-opti.png" alt='Segurança Casas OPTi')
          .col-md-8
            h3 Segurança a toda a prova
            img.img-responsive.main.small(src="/img/opti/campaigns/evolui/seguranca-casas-opti.png" alt='Segurança Casas OPTi')
            p
              | O sistema construtivo OPTi foi desenvolvido e testado para oferecer elevados níveis de segurança. As casas resistem a sismos, ventos ciclónicos e ao fogo.
            a.btn.btn-block.btn-default(href="/")
              | Ver as casas OPTi

        .row
          .col-md-8
            h3 Mais económicas
            img.img-responsive.main.small(src="/img/opti/campaigns/evolui/economicas-casas-opti.png" alt='Económicas Casas OPTi')
            p
              | Aliadas a todas estas vantagens, as casas OPTi ainda conseguem ser mais económicas do que a construção tradicional, e apresentam a melhor relação preço/qualidade no mercado.
            a.btn.btn-block.btn-default(href="/")
              | Ver as casas OPTi
          .col-md-4
            img.img-responsive.main.full(src="/img/opti/campaigns/evolui/economicas-casas-opti.png" alt='Económicas Casas OPTi')
script
  | document.addEventListener("DOMContentLoaded", function(event) {
  |   function createCookie(name,value,days) {
  |     var expires = "";
  |     if (days) {
  |       var date = new Date();
  |       date.setTime(date.getTime() + (days*24*60*60*1000));
  |       expires = "; expires=" + date.toUTCString();
  |     }
  |     document.cookie = name + "=" + value + expires + "; path=/";
  |   }
  |   createCookie('affiliate', 'madeira', 1000)
  | });

style.
  #campanha-evolui .modal-body img.full {
    display: none;
  }
  #campanha-evolui .modal-body img.small {
    display: block;
    max-width: 200px;
    float: left
  }
  @media (min-width: 992px) {
    #campanha-evolui .modal-body img.full {
      display: block;
    }
    #campanha-evolui .modal-body img.small {
      display: none;
    }
  }
  #campanha-evolui .btn {
    clear: both
  }