//- Quote Call to Action
aside.cta-quote(style="background-image: url('img/agency/backgrounds/bg-aside.jpg');")
  .container.wow.fadeIn
    .row
      .col-md-10.col-md-offset-1
        span.quote
          | Good
          span.text-primary design
          |  is finding that perfect balance between the way something
          span.text-primary looks
          |  and how it
          span.text-primary functions
          | .
        hr.colored
        a.btn.btn-outline-light.page-scroll(href='#process') How We Work