//- Portfolio Carousel Heading
section#work.bg-gray
  .container.text-center.wow.fadeIn
    h2 Our Work
    hr.colored
    p Here are some examples of our work.
//- Portfolio Carousel
section.portfolio-carousel.wow.fadeIn
  //- NOTE: You can add more items to the carousel, or remove items you don't need!
  //- Carousel Item 1
  .item(style="background-image: url('img/agency/portfolio/carousel/bg-1.jpg')")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Project Name
            span.project-description Branding, Website Design
            hr.colored
            a.btn.btn-outline-light(href='#portfolioModal1', data-toggle='modal')
              | View Details
              i.fa.fa-long-arrow-right.fa-fw
        .col-md-7.col-md-pull-5.hidden-xs
          .device-container
            .device-mockup.macbook.portrait.black
              .device
                .screen
                  img.img-responsive(src='img/agency/portfolio/carousel/screen-1a.jpg', alt='')
  //- Carousel Item 2
  .item(style="background-image: url('img/agency/portfolio/carousel/bg-2.jpg')")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Project Name
            span.project-description Branding, Website Design
            hr.colored
            a.btn.btn-outline-light(href='#portfolioModal2', data-toggle='modal')
              | View Details
              i.fa.fa-long-arrow-right.fa-fw
        .col-md-7.col-md-pull-5.hidden-xs
          .device-container
            .device-mockup.macbook.portrait.black
              .device
                .screen
                  img.img-responsive(src='img/agency/portfolio/carousel/screen-2a.jpg', alt='')
  //- Carousel Item 3
  .item(style="background-image: url('img/agency/portfolio/carousel/bg-3.jpg')")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Project Name
            span.project-description Branding, Website Design
            hr.colored
            a.btn.btn-outline-light(href='#portfolioModal3', data-toggle='modal')
              | View Details
              i.fa.fa-long-arrow-right.fa-fw
        .col-md-7.col-md-pull-5.hidden-xs
          .device-container
            .device-mockup.macbook.portrait.black
              .device
                .screen
                  img.img-responsive(src='img/agency/portfolio/carousel/screen-3a.jpg', alt='')
  //- Carousel Item 4
  .item(style="background-image: url('img/agency/portfolio/carousel/bg-4.jpg')")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Project Name
            span.project-description Branding, Website Design
            hr.colored
            a.btn.btn-outline-light(href='#portfolioModal4', data-toggle='modal')
              | View Details
              i.fa.fa-long-arrow-right.fa-fw
        .col-md-7.col-md-pull-5.hidden-xs
          .device-container
            .device-mockup.macbook.portrait.black
              .device
                .screen
                  img.img-responsive(src='img/agency/portfolio/carousel/screen-4.jpg', alt='')
