// Testimonials Section
section.testimonials.bg-gray
  .container.wow.fadeIn
    .row
      .col-lg-10.col-lg-offset-1
        .testimonials-carousel
          // NOTE: You can add more items to the carousel, or remove items you don't need!
          // Testimonial Item 1
          .item
            .row
              .col-lg-12
                p.lead "Working with Vitality was both a valuable and rewarding experience."
                hr.colored
                p.quote
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati vero ipsam aut fugit?
                .testimonial-info
                  .testimonial-img
                    img.img-circle.img-responsive(src='img/agency/testimonials/1.jpg', alt='')
                  .testimonial-author
                    span.name Jim Walker
                    p.small CEO of Company Name
                    .stars
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
          // Testimonial Item 2
          .item
            .row
              .col-lg-12
                p.lead "Vitality is a well coded, well documented, and easy to use theme!"
                hr.colored
                p.quote
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem amet rem minus dolorum, facere in soluta explicabo, unde eveniet illo vel, nemo nostrum atque nesciunt facilis quaerat quasi reprehenderit dicta.
                .testimonial-info
                  .testimonial-img
                    img.img-circle.img-responsive(src='img/agency/testimonials/2.jpg', alt='')
                  .testimonial-author
                    span.name Ashley Creadle
                    p.small Creative Director of Company Name
                    .stars
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
