#projects {

  .casa-porto-santo {
    background-image: url('../img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-small.jpg');
    @media(min-width:768px) {
      background-image: url('../img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo.jpg');
    }
  }

  .casa-grandola {
    background-image: url('../img/opti/portfolio/casa-grandola/opti-casa-grandola-small.jpg');
    @media(min-width:768px) {
      background-image: url('../img/opti/portfolio/casa-grandola/opti-casa-grandola.jpg');
    }
  }

  .casa-palmeira {
    background-image: url('../img/opti/portfolio/casa-palmeira/opti-casa-palmeira-small.jpg');
    @media(min-width:768px) {
      background-image: url('../img/opti/portfolio/casa-palmeira/opti-casa-palmeira.jpg');
    }
  }

  .casa-rabacal {
    background-image: url('../img/opti/portfolio/casa-rabacal/opti-casa-rabacal-small.jpg');
    @media(min-width:768px) {
      background-image: url('../img/opti/portfolio/casa-rabacal/opti-casa-rabacal.jpg');
    }
  }

  .casa-tatami {
    background-image: url('../img/opti/portfolio/casa-tatami/opti-casa-tatami-small.jpg');
    @media(min-width:768px) {
      background-image: url('../img/opti/portfolio/casa-tatami/opti-casa-tatami.jpg');
    }
  }

  .edificio-manhattan {
    background-image: url('../img/opti/portfolio/edificio-manhattan/opti-edificio-manhattan-small.jpg');
    @media(min-width:768px) {
      background-image: url('../img/opti/portfolio/edificio-manhattan/opti-edificio-manhattan.jpg');
    }
  }
  .edificio-camden {
    background-image: url('../img/opti/portfolio/edificio-camden/opti-edificio-camden-small.jpg');
    @media(min-width:768px) {
      background-image: url('../img/opti/portfolio/edificio-camden/opti-edificio-camden.jpg');
    }
  }

  .casa-martins {
    background-image: url('../img/opti/portfolio/casa-martins/opti-casa-martins-small.jpg');
    @media(min-width:768px) {
      background-image: url('../img/opti/portfolio/casa-martins/opti-casa-martins.jpg');
    }
  }

}