#edificio-camden.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/en#projects-edificio-camden")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Camden Building
            hr.colored
            section.content
              p
                | OPTi buildings are built to extremely high standards in less than 6 months.
                | If you want more quality in less time, talk to us.
              p
                | The Camden Building has 1,150m2 of interior space. The ground floor provides retail or office space and the top 4
                | floors contain 8 superior quality apartments configured to either 2 or 3 bedroom units.
              p
                | This building, specially designed for the urban centre of London, had a 33% lower cost than the other proposals that were presented. As a bonus, its construction will be very rapid.
              p
                | We feel confident that we can work with you on your individual project. And you will have greater peace of mind knowing that you will receive a higher return on your investment in a much shorter period of time.

              a.btn.btn-block.page-scroll(href="/en#contact")
                | Talk to us for a personal consultation that addresses your unique requirements.
        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/edificio-camden/opti-edificio-camden-small.jpg 768w, /img/opti/portfolio/edificio-camden/opti-edificio-camden-1200.jpg 1200w, /img/opti/portfolio/edificio-camden/opti-edificio-camden.jpg 1900w', alt='OPTi Camden Building')

          hr.colored
          img.img-responsive(src='/img/opti/portfolio/edificio-camden/opti-edificio-camden-planta.jpg', alt='OPTi Camden Building - blueprint')

          hr.colored

        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/en#contact') Talk to us for a personal consultation that addresses your unique requirements.
    .close-modal-bottom
      a(href="/en#projects-edificio-camden")
        .close-modal
          .lr
            .rl