#edificio-camden.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/en#projects-edificio-camden")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Camden Building
            hr.colored
            section.content
              p
                | OPTi buildings are built in less than 6 months.
                | If you want more quality in less time, talk to us.
              p
                | The UK Building has 1.150m2 of construction, the ground floor provides for trade, and the top 4
                | floors comprise 8 apartments T2 and T3.
              p
                | This building, designed for the urban center of London, had a 33% lower cost than the other
                | proposals. And its construction will be very fast.
              a.btn.btn-block.page-scroll(href="/en#contact")
                | Fale connosco
        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/edificio-camden/opti-edificio-camden-small.jpg 768w, /img/opti/portfolio/edificio-camden/opti-edificio-camden-1200.jpg 1200w, /img/opti/portfolio/edificio-camden/opti-edificio-camden.jpg 1900w', alt='OPTi Camden Building')

          hr.colored
          img.img-responsive(src='/img/opti/portfolio/edificio-camden/opti-edificio-camden-planta.jpg', alt='OPTi Camden Building - blueprint')

          hr.colored

        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/en#contact') We can design houses to suit your taste. <br>Talk to us
    .close-modal-bottom
      a(href="/en#projects-edificio-camden")
        .close-modal
          .lr
            .rl