#casa-rabacal.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/en#projects-casa-rabacal")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Casa Rabaçal
            hr.colored
            section.content
              p
                | Perfect for a mountain retreat!
              p
                | Casa Rabaçal is available for configuration as a 2 bedroom or 3 bedroom version. This house has been designed for construction on a single ground floor level.
              p
                | This low-maintenance home features generous-sized rooms and a living area that faces a 6m wide glazed wall, oriented towards the best view on your individual site. Just beyond that wall of glass is a lovely porch area for relaxing or dining. And a second covered porch is just through the sliding glass doors in the dining room.
              p
                | The base model is a 3 bedroom plan with a master suite containing a private bathroom on one side of the house. For maximum privacy, the two additional bedrooms and family bathroom are located on the opposite side of the house. The two distinct bedroom sides are separated by the heart of the home, the public spaces that include a cozy open-plan living room, dining room, kitchen, porch, and balcony.
              p
                | We also have other layouts to choose from such as the 2 bedroom and 2 bathroom model with larger bedroom sizes and a centred front porch.
              p
                | Remember, we can work with you to create a layout that is JUST for you.

              a.btn.btn-block.page-scroll(href="/en#contact")
                | Talk to us for a personal consultation that addresses your unique requirements.
        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/casa-rabacal/opti-casa-rabacal-small.jpg 768w, /img/opti/portfolio/casa-rabacal/opti-casa-rabacal-1200.jpg 1200w, /img/opti/portfolio/casa-rabacal/opti-casa-rabacal.jpg 1900w', alt='OPTi Casa Rabaçal')

          hr.colored
          h3 3 bedrooms . 126m2
          img.img-responsive(src='/img/opti/portfolio/casa-rabacal/opti-casa-rabacal-planta-t3.jpg', alt='OPTi Casa Rabaçal T3 - planta')

          hr.colored
          h3 2 bedrooms . 87m2
          img.img-responsive(src='/img/opti/portfolio/casa-rabacal/opti-casa-rabacal-planta-t2.jpg', alt='OPTi Casa Rabaçal T2 - planta')
          hr.colored

        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/en#contact') Talk to us for a personal consultation that addresses your unique requirements.
    .close-modal-bottom
      a(href="/en#projects-casa-rabacal")
        .close-modal
          .lr
            .rl