#casa-palmeira.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/en#projects-casa-palmeira")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Casa Palmeira
            hr.colored
            section.content
              p
                | Casa Palmeira, available for Typologies T1, T2 and T3, is developed on a single ground floor. With generous areas, the whole house lives in contact as outside porch.
              p
                | The base model is a T3, with 1 suite and 2 bedrooms, 2 wc, 1 living room, kitchen, and porch.
              p
                | But we have other layouts to choose from, such as T2 or T1, both with generous areas
              p
                | And remember, we can work with you to create a layout for you.
              a.btn.btn-block.page-scroll(href="/en#contact")
                | Talk to us

        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/casa-palmeira/opti-casa-palmeira-small.jpg 768w, /img/opti/portfolio/casa-palmeira/opti-casa-palmeira-1200.jpg 1200w, /img/opti/portfolio/casa-palmeira/opti-casa-palmeira.jpg 1900w', alt='OPTi Casa Palmeira')
          hr.colored

          h3 T1, 87 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-palmeira/opti-casa-palmeira-t1.jpg', alt='OPTi Casa Palmeira T2 - planta')
          hr.colored

          h3 T2, 129 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-palmeira/opti-casa-palmeira-t2g.jpg', alt='OPTi Casa Palmeira T2 grande - planta')
          hr.colored

          h3 T3, 161 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-palmeira/opti-casa-palmeira-t3.jpg', alt='OPTi Casa Palmeira T3 - planta')
          hr.colored

        .row
          .col-md-8.col-md-offset-2
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/en#contact') We can design houses to suit your taste. <br>Talk to us.
    .close-modal-bottom
      a(href="/en#projects-casa-palmeira")
        .close-modal
          .lr
            .rl