#casa-tatami.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/en#projects-casa-tatami")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 House Tatami
            hr.colored
            section.content
              p
                | A fantastic house for small urban lots, the Tatami House offers an excellent compromise between quality and price.
              p
                | With 150m2 over 2 floors, the private areas on the upper level are distinctly separate from the public areas on the ground floor. This makes it perfect for a growing family.
              p
                | The base model contains 3 bedrooms including a master bedroom suite with a private bathroom and an additional 2 bedrooms with a family bathroom. The master bedroom in this home is large enough to have a small sitting room area or a space for doing yoga.
              p
                | The open-plan living room, dining room, and kitchen can be entered through the front entry door or the second door leading to a full garage.
              p
                | Other layouts to choose from include a 4 bedroom version with more generous areas.
              p
                | Remember, we can work with you to create a layout that is JUST for you.
              a.btn.btn-block.page-scroll(href="/en#contact")
                | Talk to us for a personal consultation that addresses your unique requirements.
        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/casa-tatami/opti-casa-tatami-small.jpg 768w, /img/opti/portfolio/casa-tatami/opti-casa-tatami-1200.jpg 1200w, /img/opti/portfolio/casa-tatami/opti-casa-tatami.jpg 1900w', alt='OPTi Casa Tatami')

          hr.colored
          h3 T3 . 150m2
          img.img-responsive(src='/img/opti/portfolio/casa-tatami/opti-casa-tatami-planta-t3.jpg', alt='OPTi Casa Tatami T3 - planta')

          hr.colored
          h3 T4 . 200m2
          img.img-responsive(src='/img/opti/portfolio/casa-tatami/opti-casa-tatami-planta-t4.jpg', alt='OPTi Casa Tatami T4 - planta')
          hr.colored

        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/en#contact') Talk to us for a personal consultation that addresses your unique requirements.
    .close-modal-bottom
      a(href="/en#projects-casa-tatami")
        .close-modal
          .lr
            .rl