#casa-palmeira.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/en#projects-casa-palmeira")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Casa Palmeira
            hr.colored
            section.content
              p
                | The contemporary Casa Palmeira is a long and lovely single floor design with generously sized public rooms and bedrooms. This is available as a 1,2, or 3 bedroom home.
              p
                | With an expanse of both fixed glass and sliding doors spanning one full side of the house, the building seems to float between indoors and outdoors. A full length porch also spans the side of the house containing those open views and timber-slat shutters fold back to both control the light, provide protection from the weather, and add to your security.
              p
                | The base model has 3 bedrooms with a master bedroom suite containing a private bathroom, 2 additional bedrooms, and a family bathroom. The open-plan living room, dining room, and kitchen are bright and airy and the large outdoor porch is right outside through one of the full-height glass doors.
              p
                | We have several other layouts to choose from, such as a 2 bedroom or 1 bedroom option, each with generous living room and bedroom areas.
              p
                | Remember, we can work with you to create a layout for you.
              a.btn.btn-block.page-scroll(href="/en#contact")
                | Talk to us for a personal consultation that addresses your unique requirements.

        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/casa-palmeira/opti-casa-palmeira-small.jpg 768w, /img/opti/portfolio/casa-palmeira/opti-casa-palmeira-1200.jpg 1200w, /img/opti/portfolio/casa-palmeira/opti-casa-palmeira.jpg 1900w', alt='OPTi Casa Palmeira')
          hr.colored

          h3 one bedroom, 87 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-palmeira/opti-casa-palmeira-t1.jpg', alt='OPTi Casa Palmeira T2 - planta')
          hr.colored

          h3 2 bedrooms, 129 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-palmeira/opti-casa-palmeira-t2g.jpg', alt='OPTi Casa Palmeira T2 grande - planta')
          hr.colored

          h3 3 bedrooms, 161 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-palmeira/opti-casa-palmeira-t3.jpg', alt='OPTi Casa Palmeira T3 - planta')
          hr.colored

        .row
          .col-md-8.col-md-offset-2
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/en#contact') Talk to us for a personal consultation that addresses your unique requirements.
    .close-modal-bottom
      a(href="/en#projects-casa-palmeira")
        .close-modal
          .lr
            .rl