#casa-grandola.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/en#projects-casa-grandola")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 House Grândola
            hr.colored
            section.content
              p
                | Light, bright, and contemporary, the Casa Grândola contains 200m2 and is constructed on two floors. The living space is efficiently divided into separate public and private areas for a growing family.
              p
                | The base model contains 4 bedrooms, one of which is a master bedroom suite including a private bathroom and a balcony. Three additional bedrooms plus a family bathroom are all situated on the upper bedroom floor.
              p
                | The ground floor contains a double-sided living room with an adjacent dining room area, a large kitchen, a powder room, and a porch.
              p
                | The Casa Grandola also offers a garage in the 4 bedroom version of this house.
              p
                | There are several other layouts to choose from. For those not needing a 4 bedroom home, we also offer a 3 bedroom version with larger bedrooms and 3 full upstairs bathrooms.
              p
                | Remember, we can work with you to create a layout for you
              a.btn.btn-block.page-scroll(href="/en#contact")
                | Talk to us for a personal consultation that addresses your unique requirements.

        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/casa-grandola/opti-casa-grandola-small.jpg 768w, /img/opti/portfolio/casa-grandola/opti-casa-grandola-1200.jpg 1200w, /img/opti/portfolio/casa-grandola/opti-casa-grandola.jpg 1900w', alt='OPTi Casa Grândola')
          hr.colored

          h3 T3, 200 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-grandola/opti-casa-grandola-planta-t3.jpg', alt='OPTi Casa Grândola T3 - planta')
          hr.colored

          h3 T4, 200 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-grandola/opti-casa-grandola-planta-t4.jpg', alt='OPTi Casa Grândola T4 - planta')
          hr.colored

        .row
          .col-md-8.col-md-offset-2
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/en#contact') Talk to us for a personal consultation that addresses your unique requirements.
    .close-modal-bottom
      a(href="/en#projects-casa-grandola")
        .close-modal
          .lr
            .rl