#casa-tatami.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/en#projects-casa-tatami")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 House Tatami
            hr.colored
            section.content
              p
                | Fantastic house for small urban lots. An excellent compromise between quality and price.
              p
                | The Tatami House, with 150m2, develops in 2 floors that divide its program in private areas (rooms and w.c) in the upper floor, and common areas in the ground floor. It's perfect for a growing family.
              p
                | The base model is a T3, with 1 suite and 2 bedrooms, 2 wc, 1 living room, kitchen and garage. But we have other layouts to choose from, such as the T4, with more generous areas.
              p
                | And remember, we can work with you to create a layout for you.
              a.btn.btn-block.page-scroll(href="/en#contact")
                | Talk to us
        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/casa-tatami/opti-casa-tatami-small.jpg 768w, /img/opti/portfolio/casa-tatami/opti-casa-tatami-1200.jpg 1200w, /img/opti/portfolio/casa-tatami/opti-casa-tatami.jpg 1900w', alt='OPTi Casa Tatami')

          hr.colored
          h3 T3 . 150m2
          img.img-responsive(src='/img/opti/portfolio/casa-tatami/opti-casa-tatami-planta-t3.jpg', alt='OPTi Casa Tatami T3 - planta')

          hr.colored
          h3 T4 . 200m2
          img.img-responsive(src='/img/opti/portfolio/casa-tatami/opti-casa-tatami-planta-t4.jpg', alt='OPTi Casa Tatami T4 - planta')
          //- .mockup-carousel
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-3a.jpg', alt='')
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-3b.jpg', alt='')
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-3c.jpg', alt='')
          hr.colored

        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/en#contact') We can design houses to suit your taste. <br>Talk to us
    .close-modal-bottom
      a(href="/en#projects-casa-tatami")
        .close-modal
          .lr
            .rl