#casa-porto-santo.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/en#projects-casa-porto-santo")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2.darkened
            h2 House Porto Santo
            hr.colored
            section.content
              p
                | This is the Beach House you've always dreamed of!
              p
                | Porto Santo is available in 2, 3, or 4 bedroom models and is designed to be a single level dwelling. With generous room dimensions, the house is oriented on your site to face the best view and make you a part of your surroundings.
              p
                | Constructed with a porch that spans one entire side of the house, the flow of light and air adds to your enjoyment and gives a sense of overlapping interior and exterior areas.
              p
                | This beautifully contemporary base model contains a master bedroom suite on one side of the house for maximum privacy and two additional bedrooms with a family bathroom on the other side.
              p
                | The central space that divides the bedrooms is the heart of the home and contains a living room and an open and airy kitchen with a large adjoining dining area. The full porch, running the entire length of the house, offers additional outdoor living space for open-air sitting and al-fresco dining.
              p
                | We also have other layouts for you to choose from such as the smaller 2 bedroom model or larger versions of the 3 and 4 bedroom models.
              p
                | Remember, we can work with you to create a layout that is JUST for you.
              a.btn.btn-block.page-scroll(href="/en#contact")
                | Talk to us for a personal consultation that addresses your unique requirements.

        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-small.jpg 768w, /img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-1200.jpg 1200w, /img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo.jpg 1900w', alt='OPTi Casa Porto Santo')
          hr.colored

          img.img-responsive.main(srcset='/img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-interior-small.jpg 768w, /img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-interior-1200.jpg 1200w, /img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-interior.jpg 1900w', alt='OPTi Casa Porto Santo, interior')
          hr.colored

          h3 3 bedrooms, 161 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-planta-t3.jpg', alt='OPTi Casa Porto Santo T3 - planta')
          hr.colored

          h3 2 bedrooms, 161 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-planta-t2-g.jpg', alt='OPTi Casa Porto Santo T2 - 162m2 - planta')
          hr.colored

          h3 2 bedrooms, 108 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-planta-t2.jpg', alt='OPTi Casa Porto Santo T2 - 108m2 - planta')
          hr.colored

        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/en#contact') Talk to us for a personal consultation that addresses your unique requirements.
    .close-modal-bottom
      a(href="/en#projects-casa-porto-santo")
        .close-modal
          .lr
            .rl