#casa-porto-santo.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/en#projects-casa-porto-santo")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2.darkened
            h2 House Porto Santo
            hr.colored
            section.content
              p
                | The Beach House you've always dreamed of!
              p
                | House Porto Santo, available for typologies T2, T3 and T4, is developed on a single ground floor. With generous areas, the whole house is facing the best view, benefiting from the porch that crosses the whole house, for a better enjoyment of the interior and exterior areas.
              p
                | The base model is a T2, with a suite and two bedrooms, a toilet, a living room, kitchen and a large porch.
              p
                | We also have other layouts of your choice, such as the smallest T2, and also the T3 and T4.

              p
                | And remember, we can work with you to create a layout for you.
              a.btn.btn-block.page-scroll(href="/en#contact")
                | Talk to us

        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-small.jpg 768w, /img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-1200.jpg 1200w, /img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo.jpg 1900w', alt='OPTi Casa Porto Santo')
          hr.colored

          h3 T3, 161 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-planta-t3.jpg', alt='OPTi Casa Porto Santo T3 - planta')
          hr.colored

          h3 T2, 161 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-planta-t2-g.jpg', alt='OPTi Casa Porto Santo T2 - 162m2 - planta')
          hr.colored

          h3 T2, 108 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-planta-t2.jpg', alt='OPTi Casa Porto Santo T2 - 108m2 - planta')
          hr.colored

          //- .mockup-carousel
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-1a.jpg', alt='')
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-1b.jpg', alt='')
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-1c.jpg', alt='')
        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/en#contact') We can design houses to suit your taste. <br>Talk to us
    .close-modal-bottom
      a(href="/en#projects-casa-porto-santo")
        .close-modal
          .lr
            .rl