#casa-rabacal.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/en#projects-casa-rabacal")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Casa Rabaçal
            hr.colored
            section.content
              p
                | Perfect for a mountain retreat!
              p
                | Casa Rabaçal, available for Typologies T2 and T3, is developed on a single ground floor. With generous areas and a room facing a large glazed 6m, directed to the best view that enters us through the room inside.
              p
                | The base model is a T3, with a suite and two bedrooms, two wc, a living room, kitchen, porch and balcony.
              p
                | We also have other layouts to choose from, such as the T2 with more generous areas.
              p
                | And remember, we can work with you to create a layout for you.
              a.btn.btn-block.page-scroll(href="/en#contact")
                | Talk to us
        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/casa-rabacal/opti-casa-rabacal-small.jpg 768w, /img/opti/portfolio/casa-rabacal/opti-casa-rabacal-1200.jpg 1200w, /img/opti/portfolio/casa-rabacal/opti-casa-rabacal.jpg 1900w', alt='OPTi Casa Rabaçal')

          hr.colored
          h3 T3 . 126m2
          img.img-responsive(src='/img/opti/portfolio/casa-rabacal/opti-casa-rabacal-planta-t3.jpg', alt='OPTi Casa Rabaçal T3 - planta')

          hr.colored
          h3 T2 . 87m2
          img.img-responsive(src='/img/opti/portfolio/casa-rabacal/opti-casa-rabacal-planta-t2.jpg', alt='OPTi Casa Rabaçal T2 - planta')
          hr.colored

        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/en#contact') We can design houses to suit your taste. <br>Talk to us
    .close-modal-bottom
      a(href="/en#projects-casa-rabacal")
        .close-modal
          .lr
            .rl