#casa-grandola.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/en#projects-casa-grandola")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 House Grândola
            hr.colored
            section.content
              p
                | Casa Grândola, with 200m2, develops on two floors that divide its program in private areas (rooms and toilets) in the upper floor, and common areas on the ground floor. It's perfect for a growing family.
              p
                | The base model is a T4, with a suite and three bedrooms, three WC, a living room, kitchen, porch and balcony. We also have other layouts to choose from, such as the T3 with more generous areas.
              p
                | And remember, we can work with you to create a layout for you.
              a.btn.btn-block.page-scroll(href="/en#contact")
                | Talk to us

        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/casa-grandola/opti-casa-grandola-small.jpg 768w, /img/opti/portfolio/casa-grandola/opti-casa-grandola-1200.jpg 1200w, /img/opti/portfolio/casa-grandola/opti-casa-grandola.jpg 1900w', alt='OPTi Casa Grândola')
          hr.colored

          h3 T3, 200 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-grandola/opti-casa-grandola-planta-t3.jpg', alt='OPTi Casa Grândola T3 - planta')
          hr.colored

          h3 T4, 200 m<sup>2</sup>
          img.img-responsive(src='/img/opti/portfolio/casa-grandola/opti-casa-grandola-planta-t4.jpg', alt='OPTi Casa Grândola T4 - planta')
          hr.colored

        .row
          .col-md-8.col-md-offset-2
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/en#contact') We can design houses to suit your taste. <br>Talk to us.
    .close-modal-bottom
      a(href="/en#projects-casa-grandola")
        .close-modal
          .lr
            .rl