#edificio-manhattan.portfolio-modal.modal.fade.in(tabindex='-1', role='dialog', style="display:block; padding-left:0")
  .modal-content
    a(href="/en#projects-edificio-manhattan")
      .close-modal
        .lr
          .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Manhattan Building
            hr.colored
            section.content
              p
                | OPTi buildings are designed and constructed with extremely high standards in less than 6 months. If you want more quality in less time, talk to us.
              p
                | The Manhattan Building has 4,102m2 of interior space. The ground floor provides retail or office space and the next 5 floors contain 25 superior quality apartments configured to either 2 bedroom or 3 bedroom units.
              p
                | This building, specially designed for an urban centre, has a cost of €3,330,000 and the innovative OPTi system allows you to reduce your total construction costs by an impressive 20 to 30% when compared to standard construction methods. As a bonus, the highly efficient and rapid construction also allows you to quickly add 10 months of extra rental income to your overall return.
              p
                | We feel confident that we can successfully work with you on your individual project. And you will have greater peace of mind knowing that you will receive a higher return on your investment in a much shorter period of time.
              a.btn.btn-block.page-scroll(href="/en#contact")
                | Talk to us for a personal consultation that addresses your unique requirements.
        .row
          img.img-responsive.main(srcset='/img/opti/portfolio/edificio-manhattan/opti-edificio-manhattan-small.jpg 768w, /img/opti/portfolio/edificio-manhattan/opti-edificio-manhattan-1200.jpg 1200w, /img/opti/portfolio/edificio-manhattan/opti-edificio-manhattan.jpg 1900w', alt='OPTi Manhattan Building')

          hr.colored
          img.img-responsive(src='/img/opti/portfolio/edificio-manhattan/opti-edificio-manhattan-planta.jpg', alt='OPTi Manhattan Building - blueprint')

          hr.colored

        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='/en#contact') Talk to us for a personal consultation that addresses your unique requirements.
    .close-modal-bottom
      a(href="/en#projects-edificio-manhattan")
        .close-modal
          .lr
            .rl