//- Advantages Section
section#advantages
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        h1 Vantagens
        p A OPTi trabalha com paixão para poder construir a sua moradia de sonho, com a melhor qualidade e ao melhor preço.
        hr.colored
    .row.text-center.content-row
      .col-md-4.wow.fadeIn(data-wow-delay='.2s')
        .about-content
          i.fa.fa-home.fa-4x
          h3 Maior qualidade
          p
            | This theme includes the retina.js plugin for easy retina image support so your images and graphics will look great on mobile devices!
      .col-md-4.wow.fadeIn(data-wow-delay='.4s')
        .about-content
          i.fa.fa-clock-o.fa-4x
          h3 Mais rápido
          p
            | 1 mês para a produção dos componentes e 3 meses para a montagem da casa.
      .col-md-4.wow.fadeIn(data-wow-delay='.6s')
        .about-content
          i.fa.fa-usd.fa-4x
          h3 Mais económica
          p
            | Redução até 30% sobre o custo de produção tradicional.
    .row.text-center.content-row
      .col-md-4.wow.fadeIn(data-wow-delay='.8s')
        .about-content
          i.fa.fa-shield.fa-4x
          h3 Maior segurança
          p Comparando com construção tradicional, as casas OPTi têm mior resistência ao fogo, resistência sísmica, e resistem a ventos ciclónicos até 250 Km/h.
      .col-md-4.wow.fadeIn(data-wow-delay='1s')
        .about-content
          i.fa.fa-recycle.fa-4x
          h3 Mais sustentável
          p
            | Eco is good ljf sdljf sdkfj sdlkfj sdlkfj sdlkfj sdlkfj sldkfj sdlkjf dlkfj
      .col-md-4.wow.fadeIn(data-wow-delay='1.2s')
        .about-content
          i.fa.fa-edit.fa-4x
          h3 Personalizável
          p
            | When building this theme, we've paid close attention to how it looks on various screen sizes. Try it out on a phone or tablet!
