//- Advantages Section
section.advantages#advantages
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        h1 Vantagens
        p A OPTi trabalha com paixão para poder construir a sua moradia de sonho, com a melhor qualidade e ao melhor preço.
        hr.colored
    .row.text-center.content-row
      .col-md-4.wow.fadeIn(data-wow-delay='.2s')
        .about-content
          i.fa.fa-home.fa-4x
          h3 Maior qualidade
          p
            | Usando a mais avançada tecnologia existente no mercado, as Casas OPTi garantem o <b>maior conforto</b> que pode ter na sua casa, seja do ponto de vista <b>térmico</b>, mas tambem <b>acústico</b>. As casas têm uma <b>classificação energética A</b> (a mais alta possível), e cumprem já as mais exigentes regras do Horizonte 2020, estando anos à frente de todos os restantes competidores.
      .col-md-4.wow.fadeIn(data-wow-delay='.4s')
        .about-content
          i.fa.fa-clock-o.fa-4x
          h3 Mais rápido
          p
            | As Casas OPTi são <b>construídas em menos de 12 semanas</b>. Grande parte do trabalho é feito em ambiente controlado de fábrica, sendo assembladas no local, garantindo grande qualidade na construção das moradias, e enorme eficiência no processo construtivo.
      .col-md-4.wow.fadeIn(data-wow-delay='.6s')
        .about-content
          i.fa.fa-usd.fa-4x
          h3 Mais económica
          p
            | As Casas OPTi apresentam <b>a melhor relação preço/qualidade no mercado</b>.
          p
            | Dentro da construção modular de elevada qualidade, as nossas casas conseguem reduzir em cerca de 30% os custos totais comparativamente à construção tradicional e 40% ao LSF (Light Steel Frame).
    .row.text-center.content-row
      .col-md-4.wow.fadeIn(data-wow-delay='.8s')
        .about-content
          i.fa.fa-shield.fa-4x
          h3 Maior segurança
          p As Casas OPTi apresentam níveis de segurança elevadíssimos. Comparando com construção tradicional, as casas OPTi têm maior <b>resistência ao fogo</b>, <b>resistência sísmica</b>, e resistem a <b>ventos ciclónicos até 250 Km/h</b>.
      .col-md-4.wow.fadeIn(data-wow-delay='1s')
        .about-content
          i.fa.fa-recycle.fa-4x
          h3 Mais sustentável
          p
            | Sabe que 80% do lixo produzido no planeta vem da construção? A OPTi não constribui para esta estatística. Pelo contrário, <b>o nosso processo construtivo não permite  desperdícios</b>, poupando recursos em todas as etapas por que passa a construção. As nossas casas e edifícios têm certificados energéticos A, encontrando-se já adaptadas à exigente legislação do Horizonte 2020.
      .col-md-4.wow.fadeIn(data-wow-delay='1.2s')
        .about-content
          i.fa.fa-edit.fa-4x
          h3 Personalizável
          p
            | A OPTi trabalha consigo para desenhar a sua casa de sonho, <b>à medida das suas necessidades</b>. Pode inspirar-se no nosso catálogo de casas, mas também pode trabalhar connosco no desenho da sua moradia.

