//- Contact Section
section#contact
  .container.wow.fadeIn
    .row
      .col-lg-12.text-center
        h2 Fale connosco
        hr.colored
        p
          | Diga-nos como o podemos ajudar. Nós prometemos ser breves a responder-lhe.
    .row.content-row
      .col-lg-8.col-lg-offset-2
        form#contactForm(name='sentMessage', novalidate='')
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Nome
              input#name.form-control(type='text', placeholder='Nome', required='', data-validation-required-message='Por favor introduza o seu nome.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Endereço de email
              input#email.form-control(type='email', placeholder='Endereço de email', required='', data-validation-required-message='Por favor introduza o seu endereço de email.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Número de telefone (facultativo)
              input#phone.form-control(type='tel', placeholder='Número de telefone (facultativo)')
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Mensagem
              textarea#message.form-control(rows='5', placeholder='Mensagem', required='', data-validation-required-message='Por favor introduza uma mensagem.')
              p.help-block.text-danger
          br
          #success
          .row
            .form-group.col-xs-12
              button.btn.btn-outline-dark(type='submit') Enviar
