//- Newsletter Signup Call to Action
section.cta-form.bg-dark
  .container.text-center
    h3 Subscreva a nossa newsletter!
    hr.colored
    .row
      .col-lg-8.col-lg-offset-2
        // MailChimp Signup Form
        #mc_embed_signup
          // Replace the form action in the line below with your MailChimp embed action! Visit the documentation for additional instructions!
          form#mc-embedded-subscribe-form(role='form', action='//opti.us15.list-manage.com/subscribe/post?u=1717cacd0873ba1014c7f8bf5&amp;id=d418e08c31', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            .input-group.input-group-lg
              input#mce-EMAIL.form-control(type='email', name='EMAIL', placeholder='Endereço de email...')
              span.input-group-btn
                button#mc-embedded-subscribe.btn.btn-primary(type='submit', name='subscribe') Subscreva!
            #mce-responses
              #mce-error-response.response(style='display:none')
              #mce-success-response.response(style='display:none')
        // End MailChimp Signup Form
