//- Quote Call to Action
aside.cta-quote(style="background-image: url('img/agency/backgrounds/bg-aside.jpg');")
  .container.wow.fadeIn
    .row
      .col-md-10.col-md-offset-1
        span.quote
          | Eliminamos todas as incertezas na construção da sua casa.
          | Vendemos a casa que você deseja.
          //- span.text-primary você deseja
          //- | .
        //- hr.colored
        //- a.btn.btn-outline-light.page-scroll(href='#process') How We Work