//- Quote Call to Action
//- aside.cta-quote(style="background: linear-gradient( rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('img/opti/backgrounds/opti-house-in-hands.jpg'); background: center center;")
aside.cta-quote(style="background-image: url('img/opti/backgrounds/opti-house-in-hands.jpg');")
  .container.wow.fadeIn
    .row
      .col-md-10.col-md-offset-1
        span.quote
          | Eliminamos todas as incertezas na construção da sua casa.
          | Construimos a casa que você deseja.
          //- span.text-primary você deseja
          //- | .
        //- hr.colored
        //- a.btn.btn-outline-light.page-scroll(href='#process') How We Work