//- Footer
footer.footer
  .container.text-center
    .row
      .col-md-4.contact-details
        h4
          i.fa.fa-phone
          |  Telefone
        p#contact-phone 969 730 910
      .col-md-4.contact-details
        h4
          i.fa.fa-map-marker
          |  Visite-nos
        p
          | Rua da Conceição, 90
          br
          | 9050-026 Funchal
      .col-md-4.contact-details
        h4
          i.fa.fa-envelope
          |  E-mail
        p
          a#contact-email(href='mailto:info@opti.pt') info@opti.pt
    .row.social
      .col-lg-12
        ul.list-inline
          li
            a(href='https://www.facebook.com/optihousing/')
              i.fa.fa-facebook.fa-fw.fa-2x
          li
            a(href='https://twitter.com/optihouses')
              i.fa.fa-twitter.fa-fw.fa-2x
          li
            a(href='https://www.linkedin.com/company/opti-housing-systems')
              i.fa.fa-linkedin.fa-fw.fa-2x
    .row.copyright
      .col-lg-12
        p.small © 2017 OPTHS Housing Systems Lda.
