//- Header
header.header-carousel.header-casa-porto-santo
  .intro-content
    img.img-responsive.img-centered(src='img/opti/logos/vertical.svg', alt='OPTi')
    hr.colored
    //- .brand-name-subtext Você merece uma casa de qualidade
    .brand-name-subtext#slogan Grandes ideias para viver melhor
    .scroll-down
    a.btn.page-scroll(href='#advantages')
      i.fa.fa-angle-down.fa-fw
