//- Header
header(style="background: linear-gradient( rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url('img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo.jpg');background-position:center center")
  .intro-content
    img.img-responsive.img-centered(src='img/opti/profile.png', alt='OPTi')
    .brand-name Houses
    hr.colored
    //- .brand-name-subtext Você merece uma casa de qualidade
    .brand-name-subtext A casa que você merece
    .scroll-down
    a.btn.page-scroll(href='#advantages')
      i.fa.fa-angle-down.fa-fw
