//- Header
header(style="background-image: url('img/opti/backgrounds/bg-header.jpg');")
  .intro-content
    img.img-responsive.img-centered(src='img/opti/profile.png', alt='OPTi')
    //- .brand-name OPTi
    //- hr.colored
    //- .brand-name-subtext Porque eu mereço melhor
    //- .scroll-down
    //- a.btn.page-scroll(href='#about')
    //-   i.fa.fa-angle-down.fa-fw
