//- Header
header
  .intro-content
    //- img.img-responsive.img-centered(src='img/opti/profile.png', alt='OPTi')
    .brand-name OPTi HOUSES
    hr.colored
    //- .brand-name-subtext Você merece uma casa de qualidade
    .brand-name-subtext A casa que você merece
    .scroll-down
    a.btn.page-scroll(href='#advantages')
      i.fa.fa-angle-down.fa-fw
