#message(style="position: fixed; right: 0; bottom: 0; visibility: hidden; width: 400px; height: 250px")
  .fb-page(data-href="https://www.facebook.com/optihousing/" data-tabs="messages" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-height="250" )
      blockquote(cite="https://www.facebook.com/optihousing/" class="fb-xfbml-parse-ignore")
        a(href="https://www.facebook.com/optihousing/") OPTi Housing Systems