//- Navigation
//- NOTE: .navbar-default and .navbar-inverse are both supported with this theme.
nav.navbar.navbar-inverse.navbar-fixed-top.navbar-expanded
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        i.fa.fa-bars
        |  Menu
      a.navbar-brand.page-scroll(href='#page-top')
        img.img-responsive(src='img/opti/logos/opti-horizontal.svg', alt='OPTi')
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.hidden
          a.page-scroll(href='#page-top')
        li
          a.page-scroll(href='#advantages', title="Vantagens") Vantagens
        li
          a.page-scroll(href='#technology', title="Tecnologia") Tecnologia
        li
          a.page-scroll(href='#projects', title="Exemplos de casas") Exemplos de casas
        li
          a.page-scroll(href='#contact', title="Fale connosco") Fale connosco
