//- Portfolio Grid Section
section
  .container.text-center.wow.fadeIn
    h2 Portfolio
    hr.colored
    p Here are some other projects that we've worked on.
    .row.content-row
      .col-lg-12
        .portfolio-filter
          ul#filters.clearfix
            li
              span.filter.active(data-filter='all') All
            li
              span.filter(data-filter='.identity') Identity
            li
              span.filter(data-filter='.graphic') Graphic
            li
              span.filter(data-filter='.web') Web
    .row
      .col-lg-12
        #portfoliolist
          //- NOTE: You can add more items to the grid, or remove items you don't need!
          //- Grid Item 1
          .mix.identity(href='img/agency/portfolio/grid/grid-1.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-1.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Brand Identity
                .caption-bg
          //- Grid Item 2
          .mix.web(href='img/agency/portfolio/grid/grid-2.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-2.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Web Development
                .caption-bg
          //- Grid Item 3
          .mix.web(href='img/agency/portfolio/grid/grid-3.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-3.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Web Development
                .caption-bg
          //- Grid Item 4
          .mix.identity(href='img/agency/portfolio/grid/grid-4.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-4.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Brand Identity
                .caption-bg
          //- Grid Item 5
          .mix.web(href='img/agency/portfolio/grid/grid-5.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-5.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Web Development
                .caption-bg
          //- Grid Item 6
          .mix.graphic(href='img/agency/portfolio/grid/grid-6.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-6.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Graphic Design
                .caption-bg
          //- Grid Item 7
          .mix.graphic(href='img/agency/portfolio/grid/grid-7.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-7.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Graphic Design
                .caption-bg
          //- Grid Item 8
          .mix.web(href='img/agency/portfolio/grid/grid-8.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-8.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Web Development
                .caption-bg
          //- Grid Item 9
          .mix.identity(href='img/agency/portfolio/grid/grid-9.jpg', title='Client Name')
            .portfolio-wrapper
              img(src='img/agency/portfolio/grid/grid-9.jpg', alt='')
              .caption
                .caption-text
                  a.text-title Client Name
                  span.text-category Brand Identity
                .caption-bg
