//- Portfolio Modals
//- Example Modal 1: Corresponds with Portfolio Carousel Item 1
#casa-porto-santo.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2.darkened
            h2 Casa Porto Santo
            hr.colored
            section.content
              p
                | A Casa de praia com que sempre sonhou!
              p
                | A Casa Porto Santo, disponível para as Tipologias T2, T3 e T4, desenvolve-se num único piso térreo. Com áreas generosas, toda a moradia está voltada para a melhor vista, beneficiando do alpendre que atravessa toda a casa, para um melhor usufruto das áreas interiores e exteriores.
              p
                | O modelo base é um T2, com uma suite e dois quartos de dormir, um WC, uma sala de estar, cozinha e um grande alpendre .
              p
                | Também temos outros layouts à sua escolha, como por exemplo o T2 mais pequeno, e tambem o T3 e T4.
              p
                | E lembre-se, podemos trabalhar consigo para criar um layout à sua medida.

              a.btn.btn-block.page-scroll(href="#contact", data-dismiss="modal")
                | Fale connosco

        .row
          img.img-responsive.main(srcset='img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-small.jpg 768w, img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-1200.jpg 1200w, img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo.jpg 1900w', alt='OPTi Casa Porto Santo')
          hr.colored

          h3 T3, 161 m<sup>2</sup>
          img.img-responsive(src='img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-planta-t3.jpg', alt='OPTi Casa Porto Santo T3 - planta')
          hr.colored

          h3 T2, 161 m<sup>2</sup>
          img.img-responsive(src='img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-planta-t2-g.jpg', alt='OPTi Casa Porto Santo T2 - 162m2 - planta')
          hr.colored

          h3 T2, 108 m<sup>2</sup>
          img.img-responsive(src='img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo-planta-t2.jpg', alt='OPTi Casa Porto Santo T2 - 108m2 - planta')
          hr.colored

          //- .mockup-carousel
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-1a.jpg', alt='')
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-1b.jpg', alt='')
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-1c.jpg', alt='')
        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='#contact', data-dismiss='modal') Podemos desenhar-lhe uma casa à medida do seu gosto.<br>Fale connosco.
    .close-modal-bottom(data-dismiss='modal')
      .lr
        .rl
//- Example Modal 2: Corresponds with Portfolio Carousel Item 2
#casa-grandola.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Casa Grândola
            hr.colored
            section.content
              p
                | A Casa Grândola, com 200m2, desenvolve-se em dois pisos que dividem o seu programa em áreas privadas (quartos e WC) no piso superior, e áreas comuns no piso térreo. É perfeita para uma família em crescimento.
              p
                | O modelo base é um T4, com uma suite e três quartos de dormir, três WC, uma sala de estar, cozinha, alpendre e varanda. Também temos outros layouts à sua escolha, como por exemplo o T3 com áreas mais generosas.
              p
                | E lembre-se, podemos trabalhar consigo para criar um layout à sua medida.
              a.btn.btn-block.page-scroll(href="#contact", data-dismiss="modal")
                | Fale connosco

        .row
          img.img-responsive.main(srcset='img/opti/portfolio/casa-grandola/opti-casa-grandola-small.jpg 768w, img/opti/portfolio/casa-grandola/opti-casa-grandola-1200.jpg 1200w, img/opti/portfolio/casa-grandola/opti-casa-grandola.jpg 1900w', alt='OPTi Casa Grândola')
          hr.colored

          h3 T3, 200 m<sup>2</sup>
          img.img-responsive(src='img/opti/portfolio/casa-grandola/opti-casa-grandola-planta-t3.jpg', alt='OPTi Casa Grândola T3 - planta')
          hr.colored

          h3 T4, 200 m<sup>2</sup>
          img.img-responsive(src='img/opti/portfolio/casa-grandola/opti-casa-grandola-planta-t4.jpg', alt='OPTi Casa Grândola T4 - planta')
          hr.colored

        .row
          .col-md-8.col-md-offset-2

            //- .mockup-carousel
            //-   .item
            //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-2a.jpg', alt='')
            //-   .item
            //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-2b.jpg', alt='')
            //-   .item
            //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-2c.jpg', alt='')
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='#contact', data-dismiss='modal') Podemos desenhar-lhe uma casa à medida do seu gosto.<br>Fale connosco.
    .close-modal-bottom(data-dismiss='modal')
      .lr
        .rl

#casa-palmeira.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Casa Palmeira
            hr.colored
            section.content
              p
                | A Casa Palmeira, disponível para as Tipologias T1, T2 e T3, desenvolve-se num único piso térreo. Com áreas generosas, toda a casa vive em contacto como alpendre exterior.
              p
                | O modelo base é um T3, com 1 suite e 2 quartos de dormir, 2 w.c, 1 sala de estar, cozinha, e alpendre.
              p
                | Mas temos outros layouts à sua escolha, como por exemplo o T2 ou o T1, ambos com áreas generosas
              p
                | E lembre-se, podemos trabalhar consigo para criar um layout à sua medida.
              a.btn.btn-block.page-scroll(href="#contact", data-dismiss="modal")
                | Fale connosco

        .row
          img.img-responsive.main(srcset='img/opti/portfolio/casa-palmeira/opti-casa-palmeira-small.jpg 768w, img/opti/portfolio/casa-palmeira/opti-casa-palmeira-1200.jpg 1200w, img/opti/portfolio/casa-palmeira/opti-casa-palmeira.jpg 1900w', alt='OPTi Casa Palmeira')
          hr.colored

          h3 T1, 87 m<sup>2</sup>
          img.img-responsive(src='img/opti/portfolio/casa-palmeira/opti-casa-palmeira-t1.jpg', alt='OPTi Casa Palmeira T2 - planta')
          hr.colored

          h3 T2, 129 m<sup>2</sup>
          img.img-responsive(src='img/opti/portfolio/casa-palmeira/opti-casa-palmeira-t2g.jpg', alt='OPTi Casa Palmeira T2 grande - planta')
          hr.colored

          h3 T3, 161 m<sup>2</sup>
          img.img-responsive(src='img/opti/portfolio/casa-palmeira/opti-casa-palmeira-t3.jpg', alt='OPTi Casa Palmeira T3 - planta')
          hr.colored

        .row
          .col-md-8.col-md-offset-2

            //- .mockup-carousel
            //-   .item
            //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-2a.jpg', alt='')
            //-   .item
            //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-2b.jpg', alt='')
            //-   .item
            //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-2c.jpg', alt='')
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='#contact', data-dismiss='modal') Podemos desenhar-lhe uma casa à medida do seu gosto.<br>Fale connosco.
    .close-modal-bottom(data-dismiss='modal')
      .lr
        .rl

//- Example Modal 3: Corresponds with Portfolio Carousel Item 3
#casa-rabacal.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Casa Rabaçal
            hr.colored
            section.content
              p Perfeita para um retiro de montanha!
              p
                | A Casa Rabaçal, disponível para as Tipologias T2 e T3, desenvolve-se num único piso térreo. Com áreas generosas e uma sala voltada para uma grande envidraçado de 6m, direcionada para a melhor vista que nos entra pela sala dentro.
              p
                | O modelo base é um T3, com uma suite e dois quartos de dormir, dois w.c, uma sala de estar, cozinha, alpendre e varanda.
              p
                | Também temos outros layouts à sua escolha, como por exemplo o T2 com áreas mais generosas.
              p
                | E lembre-se, podemos trabalhar consigo para criar um layout à sua medida.
              a.btn.btn-block.page-scroll(href="#contact", data-dismiss="modal")
                | Fale connosco
        .row
          img.img-responsive.main(srcset='img/opti/portfolio/casa-rabacal/opti-casa-rabacal-small.jpg 768w, img/opti/portfolio/casa-rabacal/opti-casa-rabacal-1200.jpg 1200w, img/opti/portfolio/casa-rabacal/opti-casa-rabacal.jpg 1900w', alt='OPTi Casa Rabaçal')

          hr.colored
          h3 T3 . 192m2
          img.img-responsive(src='img/opti/portfolio/casa-rabacal/opti-casa-rabacal-planta-t3.jpg', alt='OPTi Casa Rabaçal T3 - planta')

          hr.colored
          h3 T2 . 87m2
          img.img-responsive(src='img/opti/portfolio/casa-rabacal/opti-casa-rabacal-planta-t2.jpg', alt='OPTi Casa Rabaçal T2 - planta')
          //- .mockup-carousel
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-3a.jpg', alt='')
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-3b.jpg', alt='')
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-3c.jpg', alt='')
          hr.colored

        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='#contact', data-dismiss='modal') Podemos desenhar-lhe uma casa à medida do seu gosto.<br>Fale connosco.
    .close-modal-bottom(data-dismiss='modal')
      .lr
        .rl

//- Example Modal 3: Corresponds with Portfolio Carousel Item 3
#casa-tatami.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content
    .close-modal(data-dismiss='modal')
      .lr
        .rl
    .modal-body
      .container
        .row
          .col-md-8.col-md-offset-2
            h2 Casa Tatami
            hr.colored
            section.content
              p Fantástica casa para pequenos lotes urbanos. Um compromisso excelente entre qualidade e preço.
              p
                | A Casa Tatami, com 150m2, desenvolve-se em 2 pisos que dividem o seu programa em áreas privadas (quartos e w.c) no piso superior, e áreas comuns no piso térreo. É perfeita para uma família em crescimento.
              p
                | O modelo base é um T3, com 1 suite e 2 quartos de dormir, 2 w.c, 1 sala de estar, cozinha e garagem. Mas temos outros layouts à sua escolha, como por exemplo o T4, com áreas mais generosas.
              p
                | E lembre-se, podemos trabalhar consigo para criar um layout à sua medida.
              a.btn.btn-block.page-scroll(href="#contact", data-dismiss="modal")
                | Fale connosco
        .row
          img.img-responsive.main(srcset='img/opti/portfolio/casa-tatami/opti-casa-tatami-small.jpg 768w, img/opti/portfolio/casa-tatami/opti-casa-tatami-1200.jpg 1200w, img/opti/portfolio/casa-tatami/opti-casa-tatami.jpg 1900w', alt='OPTi Casa Tatami')

          hr.colored
          h3 T3 . 150m2
          img.img-responsive(src='img/opti/portfolio/casa-tatami/opti-casa-tatami-planta-t3.jpg', alt='OPTi Casa Tatami T3 - planta')

          hr.colored
          h3 T4 . 200m2
          img.img-responsive(src='img/opti/portfolio/casa-tatami/opti-casa-tatami-planta-t4.jpg', alt='OPTi Casa Tatami T4 - planta')
          //- .mockup-carousel
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-3a.jpg', alt='')
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-3b.jpg', alt='')
          //-   .item
          //-     img.img-responsive(src='img/agency/portfolio/carousel/screen-3c.jpg', alt='')
          hr.colored

        .row
          .col-md-8.col-md-offset-2
            a.btn.btn-block.btn-full-width.page-scroll(href='#contact', data-dismiss='modal') Podemos desenhar-lhe uma casa à medida do seu gosto.<br>Fale connosco.
    .close-modal-bottom(data-dismiss='modal')
      .lr
        .rl