//- Portfolio Carousel Heading
section.bg-gray
  .container.text-center.wow.fadeIn
    h2 Exemplos de casas
    hr.colored
    p Inspire-se em alguns exemplos das moradias que construimos. Podemos desenhar-lhe uma casa à medida do seu gosto.
    a.btn.btn-outline-dark(href="#contact") Fale connosco
//- Portfolio Carousel
section#projects.portfolio-carousel.wow.fadeIn
  //- NOTE: You can add more items to the carousel, or remove items you don't need!
  //- Carousel Item 1
  .item(style="background-image: url('img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo.jpg')")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Casa Porto Santo
            span.project-description Moradia Unifamiliar | 1 piso
            hr.colored
            a.btn.btn-outline-light(href='#casa-porto-santo', data-toggle='modal')
              | Ver Detalhes
              i.fa.fa-long-arrow-right.fa-fw
  //- Carousel Item 2
  .item(style="background-image: url('img/opti/portfolio/casa-grandola/opti-casa-grandola.jpg')")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Casa Grândola
            span.project-description Moradia Unifamiliar | 2 pisos
            hr.colored
            a.btn.btn-outline-light(href='#casa-grandola', data-toggle='modal')
              | Ver Detalhes
              i.fa.fa-long-arrow-right.fa-fw
  //- Carousel Item 3
  .item(style="background-image: url('img/opti/portfolio/casa-rabacal/opti-casa-rabacal.jpg')")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Casa Rabaçal
            span.project-description Moradia Unifamiliar | 1 piso
            hr.colored
            a.btn.btn-outline-light(href='#casa-rabacal', data-toggle='modal')
              | Ver Detalhes
              i.fa.fa-long-arrow-right.fa-fw