//- Portfolio Carousel Heading
section#projects-intro.bg-gray(style="padding: 50px 0")
  .container.text-center.wow.fadeIn
    h2 Exemplos de casas
    hr.colored
    p Inspire-se abaixo em alguns <b>exemplos</b> das moradias que construimos. E lembre-se, podemos desenhar-lhe uma casa <b>à medida do seu gosto</b>.
    a.btn.btn-outline-dark(href="#contact") Fale connosco
//- Portfolio Carousel
section#projects.portfolio-carousel.wow.fadeIn
  //- NOTE: You can add more items to the carousel, or remove items you don't need!
  //- Carousel Item 1
  .item.casa-porto-santo
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Casa Porto Santo
            span.project-description Moradia Unifamiliar | 1 piso
            hr.colored
            a.btn.btn-outline-light(href='/casas/casa-porto-santo.html')
              | Ver Detalhes
  //- Carousel Item 2
  .item.casa-grandola
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Casa Grândola
            span.project-description Moradia Unifamiliar | 2 pisos
            hr.colored
            a.btn.btn-outline-light(href='/casas/casa-grandola.html')
              | Ver Detalhes
  //- Carousel Item 3
  .item.casa-palmeira
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Casa Palmeira
            span.project-description Moradia Unifamiliar | 1 piso
            hr.colored
            a.btn.btn-outline-light(href='/casas/casa-palmeira.html')
              | Ver Detalhes
  //- Carousel Item 4
  .item.casa-rabacal
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Casa Rabaçal
            span.project-description Moradia Unifamiliar | 1 piso
            hr.colored
            a.btn.btn-outline-light(href='/casas/casa-rabacal.html')
              | Ver Detalhes
  //- Carousel Item 5
  .item.casa-tatami
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Casa Tatami
            span.project-description Moradia Unifamiliar | 2 pisos | T3 ou T4
            hr.colored
            a.btn.btn-outline-light(href='/casas/casa-tatami.html')
              | Ver Detalhes

  .item.casa-martins
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Casa Martins
            span.project-description Moradia Unifamiliar | 1 piso | T4
            hr.colored
            a.btn.btn-outline-light(href='/casas/casa-tatami.html')
              | Ver Detalhes

  .item.edificio-manhattan
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Edifício Manhattan
            span.project-description Edifício Residencial | 4.012m<sup>2</sup>
            hr.colored
            a.btn.btn-outline-light(href='/casas/edificio-manhattan.html')
              | Ver Detalhes

  .item.edificio-camden
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Edifício Camden
            span.project-description Edifício Residencial | 1.150m<sup>2</sup>
            hr.colored
            a.btn.btn-outline-light(href='/casas/edificio-camden.html')
              | Ver Detalhes

  .item.casa-martins
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Casa Martins
            span.project-description Moradia Unifamiliar | 1 piso | T4
            hr.colored
            a.btn.btn-outline-light(href='/casas/casa-martins.html')
              | Ver Detalhes

.hidden(style="display:none")
  .item.teaser-project(style="background-image: url(/img/opti/backgrounds/architect-and-customer.jpg")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            h1 Trabalhamos consigo para lhe trazer a sua casa de sonho
            //- h1 Crie a sua casa
            //- h1 à medida das suas necessidades
            a.btn.btn-outline-light.page-scroll(href='#contact')
              | Fale connosco
