//- Portfolio Carousel Heading
section.bg-gray
  .container.text-center.wow.fadeIn
    h2 Exemplos de casas
    hr.colored
    p Inspire-se em alguns exemplos das moradias que construimos. Podemos desenhar-lhe uma casa à medida do seu gosto.
    a.btn.btn-outline-dark(href="#contact") Fale connosco
//- Portfolio Carousel
section#projects.portfolio-carousel.wow.fadeIn
  //- NOTE: You can add more items to the carousel, or remove items you don't need!
  //- Carousel Item 1
  .item(style="background-image: url('img/opti/portfolio/casa-porto-santo/opti-casa-porto-santo.jpg')")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Casa Porto Santo
            span.project-description Lorem Ipsum
            hr.colored
            a.btn.btn-outline-light(href='#casa-porto-santo', data-toggle='modal')
              | Ver Detalhes
              i.fa.fa-long-arrow-right.fa-fw
  //- Carousel Item 2
  .item(style="background-image: url('img/opti/portfolio/casa-bosque/opti-casa-bosque.jpg')")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Casa do Bosque
            span.project-description Lorem Ipsum
            hr.colored
            a.btn.btn-outline-light(href='#casa-bosque', data-toggle='modal')
              | Ver Detalhes
              i.fa.fa-long-arrow-right.fa-fw
  //- Carousel Item 3
  .item(style="background-image: url('img/opti/portfolio/casa-rabacal/opti-casa-rabacal.jpg')")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Casa Rabaçal
            span.project-description Lorem Ipsum
            hr.colored
            a.btn.btn-outline-light(href='#casa-rabacal', data-toggle='modal')
              | Ver Detalhes
              i.fa.fa-long-arrow-right.fa-fw
  //- Carousel Item 4
  .item(style="background-image: url('img/agency/portfolio/carousel/bg-4.jpg')")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Project Name
            span.project-description Branding, Website Design
            hr.colored
            a.btn.btn-outline-light(href='#portfolioModal4', data-toggle='modal')
              | View Details
              i.fa.fa-long-arrow-right.fa-fw
        .col-md-7.col-md-pull-5.hidden-xs
          .device-container
            //- .device-mockup.macbook.portrait.black
            //-   .device
            //-     .screen
            //-       img.img-responsive(src='img/agency/portfolio/carousel/screen-4.jpg', alt='')
