//- Team Section
section.bg-gray
  .container.text-center.wow.fadeIn
    .row
      .col-lg-12
        h2 A nossa equipa
        p
          | We are a group of digital marketers with a passion for great art that serves a practical purpose.
        hr.colored
    .row.content-row
      .col-lg-12
        .about-carousel
          //- NOTE: You can add more items to the carousel, or remove items you don't need!
          //- Team Member 1
          .item
            .overlay
            img.img-responsive(src='img/agency/team/1.jpg', alt='')
            .caption
              h3 Bruno Martins
              hr.colored
              p CEO, Arquiteto
              ul.list-inline.social
                li
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
          //- Team Member 2
          .item
            .overlay
            img.img-responsive(src='img/agency/team/2.jpg', alt='')
            .caption
              h3 Miguel Babo
              hr.colored
              p CTO, Project Manager
              ul.list-inline.social
                li
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
          //- Team Member 3
          .item
            .overlay
            img.img-responsive(src='img/agency/team/3.jpg', alt='')
            .caption
              h3 Pedro Teixeira
              hr.colored
              p Diretor de Informação e Automação
              ul.list-inline.social
                li
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
                li
                  a(href='#')
                    i.fa.fa-dribbble.fa-fw
          //- Team Member 4
          .item
            .overlay
            img.img-responsive(src='img/agency/team/4.jpg', alt='')
            .caption
              h3 Pedro Vladimir
              hr.colored
              p Director Comercial Lisboa
              ul.list-inline.social
                li
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
                li
                  a(href='#')
                    i.fa.fa-github.fa-fw
          //- Team Member 5
          .item
            .overlay
            img.img-responsive(src='img/agency/team/5.jpg', alt='')
            .caption
              h3 Emanuel Cecílio
              hr.colored
              p Director Comercial Zona Centro
              ul.list-inline.social
                li
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
                li
                  a(href='#')
                    i.fa.fa-dribbble.fa-fw
          .item
            .overlay
            img.img-responsive(src='img/agency/team/5.jpg', alt='')
            .caption
              h3 Rui Caetano
              hr.colored
              p Director Comercial Madeira
              ul.list-inline.social
                li
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
                li
                  a(href='#')
                    i.fa.fa-dribbble.fa-fw
          .item
            .overlay
            img.img-responsive(src='img/agency/team/5.jpg', alt='')
            .caption
              h3 Outro
              hr.colored
              p Director Comercial Madeira
              ul.list-inline.social
                li
                  a(href='#')
                    i.fa.fa-facebook.fa-fw
                li
                  a(href='#')
                    i.fa.fa-twitter.fa-fw
                li
                  a(href='#')
                    i.fa.fa-linkedin.fa-fw
                li
                  a(href='#')
                    i.fa.fa-dribbble.fa-fw