//- Services Section
section#technology.services
  .container
    .row.text-center
      .col-lg-12.wow.fadeIn
        //- h2 Casas preparadas para o século XXI
        //- h2 A OPTi constrói as melhores casas
        h2 Uma casa para o futuro
        hr.colored
        p Esta é a nova geração de tecnologia de construção, o resultado de anos de investigação e desenvolvimento
    .row.content-row
      //- Service Item 1
      .col-md-4.wow.fadeIn(data-wow-delay='.2s')
        .media
          .pull-left
            i.fa.fa-clipboard
          .media-body
            h3.media-heading Sistema Certificado
            p
              | As Casas OPTi <b>cumprem toda a mais exigente legislação em vigor</b> na União Europeia e nos Estados Unidos da América, dando as melhores garantias do ponto de vista estrutural, construtivo, arquitetónico, segurança, resistência ao fogo, energético, acústico e térmico.
            p
              | Todos os materiais usados foram <b>sujeito a diversos testes de segurança e caraterização</b>. As Casas OPTi estão preparadas para resistir a sismos, ventos ciclónicos, e condições atmosféricas austeras.
      //- Service Item 2
      .col-md-4.wow.fadeIn(data-wow-delay='.4s')
        .media
          .pull-left
            i.fa.fa-pencil
          .media-body
            h3.media-heading Processo construtivo
            p
              | O sistema construtivo privilegia o uso da <b>estrutura metálica</b> e dos <b>painéis compósitos</b>, desenvolvendo-se a partir de uma métrica estrutural rígida, que se encontra preparada para poder continuar a aumentar verticalmente e horizontalmente, permitindo que os edifícios e casas OPTi possam crescer durante o seu período de vida.
            p
              | Todos os componentes OPTi encontram-se dimensionados para poderem ser <b>manuseados sem maquinarias</b>, e podem ser <b>facilmente armazenados e transportados</b> em contentores &quot;standarizados&quot;, permitindo também uma redução de custos ao nível do transporte e estaleiro de obra.

      //- Service Item 3
      .col-md-4.wow.fadeIn(data-wow-delay='.6s')
        .media
          .pull-left
            i.fa.fa-rocket
          .media-body
            h3.media-heading Investigação
            p
              | A OPTi resulta de anos de <b>investigação e desenvolvimento</b>, através dos projectos já coordenados pela equipa presentemente na OPTi, e de <b>parcerias</b> junto de universidades e institutos.

            p
              | Adicionalmente, <b>a nossa equipa de Investigação e Desenvolvimento trabalha todos os dias para inovar</b> e trazer a si as melhores soluções construtivas para a sua casa.