//- Services Section
section#technology.services
  .container
    .row.text-center
      .col-lg-12.wow.fadeIn
        //- h2 Casas preparadas para o século XXI
        //- h2 A OPTi constrói as melhores casas
        h2 Uma casa para o futuro
        hr.colored
        p Esta é a nova geração de tecnologia de construção, o resultado de anos de investigação e desenvolvimento
    .row.content-row
      //- Service Item 1
      .col-md-4.wow.fadeIn(data-wow-delay='.2s')
        .media
          .pull-left
            i.fa.fa-clipboard
          .media-body
            h3.media-heading Sistema Certificado
            ul
              li Client interview
              li Gather consumer data
              li Create content strategy
              li Analyze research
      //- Service Item 2
      .col-md-4.wow.fadeIn(data-wow-delay='.4s')
        .media
          .pull-left
            i.fa.fa-pencil
          .media-body
            h3.media-heading Processo construtivo
            ul
              li Build wireframe
              li Gather client feedback
              li Code development
              li Marketing review
      //- Service Item 3
      .col-md-4.wow.fadeIn(data-wow-delay='.6s')
        .media
          .pull-left
            i.fa.fa-rocket
          .media-body
            h3.media-heading Investigação
            p Trabalhamos com uma equipa e parceiros de renome no desenvolvimento da tecnologia construtiva da sua futura moradia.
            ul
              li LREC
              li IST
              li M-ITI