//- Services Section
section#technology.services
  .container
    .row.text-center
      .col-lg-12.wow.fadeIn
        //- h2 Casas preparadas para o século XXI
        //- h2 A OPTi constrói as melhores casas
        h2 Uma casa para o futuro
        hr.colored
        p Esta é a nova geração de tecnologia de construção, o resultado de anos de investigação e desenvolvimento
    .row.content-row
      //- Service Item 1
      .col-md-4.wow.fadeIn(data-wow-delay='.2s')
        .media
          .pull-left
            i.fa.fa-clipboard
          .media-body
            h3.media-heading Sistema Certificado
            p
              | As Casas OPTi cumprem toda a mais exigente legislação em vigor na União Europeia e nos Estados Unidos da América, dando as melhores garantias do ponto de vista estrutural, construtivo, arquitetónico, segurança, resistência ao fogo, energético, acústico e térmico.
            p
              | Todos os materiais usados foram sujeito a diversos testes de segurança e caraterização. As Casas OPTi estão preparadas para resistir a sismos, ventos ciclónicos, e condições atmosféricas austeras.
      //- Service Item 2
      .col-md-4.wow.fadeIn(data-wow-delay='.4s')
        .media
          .pull-left
            i.fa.fa-pencil
          .media-body
            h3.media-heading Processo construtivo
            p
              | O sistema construtivo privilegia o uso da estrutura metálica e dos painéis compósitos, desenvolvendo-se a partir de uma métrica estrutural rígida, que se encontra preparada para poder continuar a aumentar verticalmente e horizontalmente, permitindo que os edifícios e casas OPTi possam crescer durante o seu período de vida.
            p
              | Todos os componentes OPTi encontram-se dimensionados para poderem ser manuseados sem maquinarias, e podem ser facilmente armazenados e transportados em contentores &quot;standarizados&quot;, permitindo também uma redução de custos ao nível do transporte e estaleiro de obra.

      //- Service Item 3
      .col-md-4.wow.fadeIn(data-wow-delay='.6s')
        .media
          .pull-left
            i.fa.fa-rocket
          .media-body
            h3.media-heading Investigação
            p
              | A OPTi resulta de anos de investigação e desenvolvimento, através dos projectos já coordenados pela equipa presentemente na OPTi, e das suas parcerias junto de universidades e institutos como:
            ul
              li <a href="https://tecnico.ulisboa.pt/pt/">Instituto Superior Técnico</a>
              li <a href="http://www.lrec.pt/">Laboratório Regional de Engenharia Civil</a>,
              li <a href="http://www.fundec.pt/pt-pt">FUNDEC</a>
              li <a href="http://www.m-iti.org/">Madeira Interactive Technologies Institute</a>.

            p
              | Adicionalmente, a nossa equipa de Investigação e Desenvolvimento trabalha todos os dias para inovar e trazer a si as melhores soluções construtivas para a sua casa.