!= partial("components/_navigation")
!= partial("components/_header")
!= partial("components/_advantages")
//- != partial("components/_team")
!= partial("components/_cta-quote")
!= partial("components/_tecnology")
!= partial("components/_projects")
!= partial("components/_cta-button")
//- != partial("components/_portfolio-grid")
!= partial("components/_testimonials")
//- != partial("components/_pricing")
!= partial("components/_cta-newsletter-signup")
!= partial("components/_team")
!= partial("components/_contact")
//- != partial("components/_cta-button")
!= partial("components/_footer")
!= partial("components/_portfolio-modals")
