p(style='color: white') A redireccionar para o website das OPTi Houses, por favor aguarde...
p(style='color: white') Se não carregar <a href="/">carregue aqui para continuar</a>.
<hr>
p(style='color: white') Redirecting to OPTI Houses website, please wait...
p(style='color: white') If it doesnt load please <a href="/">click here to proceed</a>.
script
  | document.addEventListener("DOMContentLoaded", function(event) {
  |   function createCookie(name,value,days) {
  |     var expires = "";
  |     if (days) {
  |       var date = new Date();
  |       date.setTime(date.getTime() + (days*24*60*60*1000));
  |       expires = "; expires=" + date.toUTCString();
  |     }
  |     document.cookie = name + "=" + value + expires + "; path=/";
  |   }
  |   var target = 'https://opti.pt'
  |   if (window.location.hostname === 'optihousing.com') {
  |     target = 'http://optihousing.com'
  |   }
  |   createCookie('affiliate', 'madeira', 1000)
  |   setTimeout(function() {
  |     window.location = target
  |   }, 2000)
  | });
