//- Advantages Section
section.advantages#advantages
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        h1 Advantages
        p OPTi works with passion to be able to build your dream home, with the best quality and at the best price.
        hr.colored
    .row.text-center.content-row
      .col-md-4.wow.fadeIn(data-wow-delay='.2s')
        .about-content
          i.fa.fa-home.fa-4x
          h3 Highest Quality
          p
            | From <b>thermal to acoustics and energy efficiency</b> the OPTi housing system uses the most advanced technology available on the market, and guarantees you will experience <b>maximum comfort</b> within your new home.
          p
            | Your new home will have the <b>energy efficiency rating of “A”</b> (the highest possible rating) Our system already exceeds the demanding regulations to come in 2020, thus we are already years ahead of all competitors.
      .col-md-4.wow.fadeIn(data-wow-delay='.4s')
        .about-content
          i.fa.fa-clock-o.fa-4x
          h3 Faster
          p
            | Opti houses are <b>built in under 12 weeks</b>. The majority of the work is done under strict quality control in our controlled factory environment, then gets assembled locally, ensuring high quality construction, and an enormous efficiency in the construction process
      .col-md-4.wow.fadeIn(data-wow-delay='.6s')
        .about-content
          i.fa.fa-usd.fa-4x
          h3 More economical
          p
            | OPTi Houses present <b>the best price / quality ratio on the market</b>.
          p
            | Within our high-quality modular building concept, we are able to <b>reduce the total costs by around 30%</b> when compared to traditional construction and 40% when compared to the Light Steel Frame system (LSF).
    .row.text-center.content-row
      .col-md-4.wow.fadeIn(data-wow-delay='.8s')
        .about-content
          i.fa.fa-shield.fa-4x
          h3 Increased Security
          p
            | OPTi Houses have very <b>high levels of safety</b>. When compared to traditional construction, OPTi homes have <b>superior resistance to fire, earthquakes and hurricane winds up to 250km / h</b>.
      .col-md-4.wow.fadeIn(data-wow-delay='1s')
        .about-content
          i.fa.fa-recycle.fa-4x
          h3 More sustainable
          p
            | Did you know that 80% of the garbage on the planet is produced by construction?  OPTi does not contribute to this statistic. On the contrary, our constructive process <b>does not allow for waste</b> and resources are saved in all the stages throughout all  the construction phases. Our homes and buildings are awarded class A energy efficiency certificates and are already adapted to the demanding legislation of Horizon 2020.
      .col-md-4.wow.fadeIn(data-wow-delay='1.2s')
        .about-content
          i.fa.fa-edit.fa-4x
          h3 Customizable
          p
            | We at OPTi <b>work with you</b> when designing your dream home and tailor it to your unique needs. You may choose anyone of our ready designs, take part in the designing process yourself or simply adapt our existing designs to your specifications.
