//- Advantages Section
section.advantages#advantages
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        h1 Advantages
        p OPTi works with passion to build your dream home, with the best quality workmanship and materials and at the best price.
        hr.colored
    .row.text-center.content-row
      .col-md-4.wow.fadeIn(data-wow-delay='.2s')
        .about-content
          i.fa.fa-home.fa-4x
          h3 Highest Quality
          p
            | From <b>thermal and energy efficiency to acoustics comfort</b> the OPTi housing system uses the most advanced technology on the market. This guarantees that you will experience <b>maximum comfort</b> levels within your new home.
          p
            | With an <b>energy efficiency rating of “A”</b> (the highest possible rating)+, the OPTi system has already gone beyond the demanding regulations that will be implemented in 2020. We are years ahead of all other competitors.
      .col-md-4.wow.fadeIn(data-wow-delay='.4s')
        .about-content
          i.fa.fa-clock-o.fa-4x
          h3 Faster
          p
            | OPTi houses are <b>built in under 12 weeks</b>. The majority of the work is done under strict quality regulations in our controlled factory environment. The home is then assembled locally on site in your chosen location. This ensures both high quality and impressive efficiency throughout the construction process.
      .col-md-4.wow.fadeIn(data-wow-delay='.6s')
        .about-content
          i.fa.fa-usd.fa-4x
          h3 More economical
          p
            | OPTi Houses present <b>the best price / quality ratio on the market</b>.
          p
            | Using our high-quality modular building concept, we are able to <b>reduce the total construction costs by around 30%</b> when compared to traditional construction and 40% when compared to the Light Steel Frame system (LSF).
    .row.text-center.content-row
      .col-md-4.wow.fadeIn(data-wow-delay='.8s')
        .about-content
          i.fa.fa-shield.fa-4x
          h3 Increased Security
          p
            | OPTi Houses have very <b>high levels of safety</b>. When compared to traditional construction methods, OPTi homes have <b>superior resistance to fire, earthquakes and hurricane winds up to 250 km per hour</b>.
      .col-md-4.wow.fadeIn(data-wow-delay='1s')
        .about-content
          i.fa.fa-recycle.fa-4x
          h3 More sustainable
          p
            | Did you know that 80% of the garbage on the planet is produced by construction?  OPTi is proud to state that they do not contribute to this statistic. In direct contrast to traditional methods, our construction process <b>does not allow for waste</b>. As a result, resources are saved in every stage throughout the construction process. Our homes and buildings have been awarded class A Energy Efficiency Certificates and are already adapted to the demanding legislation of Horizon 2020.
      .col-md-4.wow.fadeIn(data-wow-delay='1.2s')
        .about-content
          i.fa.fa-edit.fa-4x
          h3 Customisable
          p
            | We at OPTi are happy to <b>work with you</b> when designing your dream home and are able to tailor it to your unique needs. You may choose any of our existing designs, take part in the designing process yourself or simply adapt our existing designs to your unique specifications.
