//- Quote Call to Action
//- aside.cta-quote(style="background: linear-gradient( rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('img/opti/backgrounds/opti-house-in-hands.jpg'); background: center center;")
aside.cta-quote
  .container.wow.fadeIn
    .row
      .col-md-10.col-md-offset-1
        span.quote
          | We build your home the way you want it by eliminating all of the uncertainties in the construction process.
          //- span.text-primary você deseja
          //- | .
        //- hr.colored
        //- a.btn.btn-outline-light.page-scroll(href='#process') How We Work