//- Header
header.header-carousel.header-casa-porto-santo
  .intro-content
    img.img-responsive.img-centered(src='/img/opti/logos/opti-vertical.svg', alt='OPTi')
    hr.colored
    .brand-name-subtext#slogan Big ideas for better living
    .scroll-down
    a.btn.page-scroll(href='#advantages')
      i.fa.fa-angle-down.fa-fw
