//- Portfolio Carousel Heading
section.bg-gray
  .container.text-center.wow.fadeIn
    h2 Examples of houses
    hr.colored
    p See or use some examples of the houses we build. We can design houses to suit your taste.
    a.btn.btn-outline-dark(href="#contact") Talk to us
//- Portfolio Carousel
section#projects.portfolio-carousel.wow.fadeIn
  //- NOTE: You can add more items to the carousel, or remove items you don't need!
  //- Carousel Item 1
  .item.casa-porto-santo
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name House Porto Santo
            span.project-description Detached House | 1 floor
            hr.colored
            a.btn.btn-outline-light(href='/en/houses/house-porto-santo.html')
              | See details
  //- Carousel Item 2
  .item.casa-grandola
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name House Grândola
            span.project-description Detached House | 2 floors
            hr.colored
            a.btn.btn-outline-light(href='/en/houses/house-grandola.html')
              | See details
  //- Carousel Item 3
  .item.casa-palmeira
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name House Palmeira
            span.project-description Detached House | 1 floor
            hr.colored
            a.btn.btn-outline-light(href='/en/houses/house-palmeira.html')
              | See details
  //- Carousel Item 4
  .item.casa-rabacal
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name House Rabaçal
            span.project-description Detached House | 1 floor
            hr.colored
            a.btn.btn-outline-light(href='/en/houses/house-rabacal.html')
              | See details
  //- Carousel Item 5
  .item.casa-tatami
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name House Tatami
            span.project-description Detached House | 2 floors | T3 or T4
            hr.colored
            a.btn.btn-outline-light(href='/en/houses/house-tatami.html')
              | See details
