//- Portfolio Carousel Heading
section.bg-gray
  .container.text-center.wow.fadeIn
    h2 Examples of houses
    hr.colored
    p Here are examples of the houses we build. We can also design houses to suit your taste.
    a.btn.btn-outline-dark(href="#contact") Contact us for a personal quotation
//- Portfolio Carousel
section#projects.portfolio-carousel.wow.fadeIn
  //- NOTE: You can add more items to the carousel, or remove items you don't need!
  //- Carousel Item 1
  .item.casa-porto-santo
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name House Porto Santo
            span.project-description Detached House | 1 floor
            hr.colored
            a.btn.btn-outline-light(href='/en/houses/house-porto-santo.html')
              | See details
  //- Carousel Item 2
  .item.casa-grandola
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name House Grândola
            span.project-description Detached House | 2 floors
            hr.colored
            a.btn.btn-outline-light(href='/en/houses/house-grandola.html')
              | See details
  //- Carousel Item 3
  .item.casa-palmeira
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name House Palmeira
            span.project-description Detached House | 1 floor
            hr.colored
            a.btn.btn-outline-light(href='/en/houses/house-palmeira.html')
              | See details
  //- Carousel Item 4
  .item.casa-rabacal
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name House Rabaçal
            span.project-description Detached House | 1 floor
            hr.colored
            a.btn.btn-outline-light(href='/en/houses/house-rabacal.html')
              | See details
  //- Carousel Item 5
  .item.casa-tatami
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name House Tatami
            span.project-description Detached House | 2 floors | 3 or 4 bedrooms
            hr.colored
            a.btn.btn-outline-light(href='/en/houses/house-tatami.html')
              | See details

  .item.edificio-manhattan
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Manhattan Building
            span.project-description Residential Building | 4,012m<sup>2</sup>
            hr.colored
            a.btn.btn-outline-light(href='/en/houses/manhattan-building.html')
              | See details
  .item.edificio-camden
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            span.project-name Camden Building
            span.project-description Residential Building | 1,150m<sup>2</sup>
            hr.colored
            a.btn.btn-outline-light(href='/en/houses/camden-building.html')
              | See details
.hidden(style="display:none")
  .item.teaser-project(style="background-image: url(/img/opti/backgrounds/architect-and-customer.jpg")
    .container-fluid
      .row
        .col-md-5.col-md-push-7
          .project-details
            h1 We work with you to bring you your dream house
            //- h1 Crie a sua casa
            //- h1 à medida das suas necessidades
            a.btn.btn-outline-light.page-scroll(href='#contact')
              | Talk to us
