//- Team Section
section.bg-gray.team
  .container.text-center.wow.fadeIn
    .row
      .col-lg-12
        h2 Our team
        p
          | Our Team at OPTI work with passion to construct a dream home suited to your tastes.
        hr.colored
    .row.content-row
      .col-lg-12
        .about-carousel
          //- NOTE: You can add more items to the carousel, or remove items you don't need!
          //- Team Member 1
          .item
            .overlay
            img.img-responsive(src='/img/opti/team/bruno-martins.jpg', alt='Bruno Martins')
            .caption
              h3 Bruno Martins
              hr.colored
              p CEO, Architect
              ul.list-inline.social
                li
                  a(target="_blank" href='mailto:bmartins@opti.pt')
                    i.fa.fa-envelope-o.fa-fw
                li
                  a(target="_blank" href='https://www.linkedin.com/in/bruno-martins-91569b60/')
                    i.fa.fa-linkedin.fa-fw

          //- .item
          //-   .overlay
          //-   img.img-responsive(src='/img/opti/team/jared-pretorius.jpg', alt='Jared Pretorius')
          //-   .caption
          //-     h3 Jared Pretorius
          //-     hr.colored
          //-     p Diretor of Sales
          //-     ul.list-inline.social
          //-       li
          //-         a(target="_blank" href='mailto:info@opti.pt')
          //-           i.fa.fa-envelope-o.fa-fw
          //-       li
          //-         a(target="_blank" href='https://www.linkedin.com/in/jared-pretorius-86933587/')
          //-           i.fa.fa-linkedin.fa-fw

          .item
            .overlay
            img.img-responsive(src='/img/opti/team/joao-delgado.png', alt='João Delgado')
            .caption
              h3 João Delgado
              hr.colored
              p Consultant
              ul.list-inline.social
                li
                  a(target="_blank" href='mailto:joao@opti.pt')
                    i.fa.fa-envelope-o.fa-fw
                li
                  a(target="_blank" href='https://www.linkedin.com/in/joão-delgado-877ba1a8/')
                    i.fa.fa-linkedin.fa-fw
          .item
            .overlay
            img.img-responsive(src='/img/opti/team/emanuel-cecilio.jpg', alt='Emanuel Cecílio')
            .caption
              h3 Emanuel Cecílio
              hr.colored
              p Architect, Sales Director for Portugal, center
              ul.list-inline.social
                li
                  a(target="_blank" href='mailto:emanuel@opti.pt')
                    i.fa.fa-envelope-o.fa-fw
          .item
            .overlay
            img.img-responsive(src='/img/opti/team/pedro-teixeira.png', alt='Pedro Teixeira')
            .caption
              h3 Pedro Teixeira
              hr.colored
              p Chief Information Officer
              ul.list-inline.social
                li
                  a(target="_blank" href='mailto:pteixeira@opti.pt')
                    i.fa.fa-envelope-o.fa-fw
                li
                  a(target="_blank" href='https://twitter.com/pgte')
                    i.fa.fa-twitter.fa-fw
                li
                  a(target="_blank" href='https://www.linkedin.com/in/pedroteixeira')
                    i.fa.fa-linkedin.fa-fw
                li
                  a(target="_blank" href='https://github.com/pgte')
                    i.fa.fa-github.fa-fw