//- Services Section
section#technology.services
  .container
    .row.text-center
      .col-lg-12.wow.fadeIn
        //- h2 Casas preparadas para o século XXI
        //- h2 A OPTi constrói as melhores casas
        h2 A Home for the Future
        hr.colored
        p This the new generation of construction technology, the result of years of research and development
    .row.content-row
      //- Service Item 1
      .col-md-4.wow.fadeIn(data-wow-delay='.2s')
        .media
          .pull-left
            i.fa.fa-clipboard
          .media-body
            h3.media-heading Certified System
            p
              | The OPTi Housing System <b>complies with even the most demanding European and US legislations</b>. That being said we are more than able to provide the best structural, constructive, architectural, safety, fire resistance, energy, acoustic and thermal guarantees.
            p
              | All materials used were </b>subjected to various safety and characterization tests</b>. OPTi Houses are prepared to withstand earthquakes, cyclonic winds, and sever atmospheric conditions.
      //- Service Item 2
      .col-md-4.wow.fadeIn(data-wow-delay='.4s')
        .media
          .pull-left
            i.fa.fa-pencil
          .media-body
            h3.media-heading The Construction Process
            p
              | The construction system favors the use of a <b>metalic structure</b> and <b>composite panels</b>, developed from a rigid an engineering grid like structure , which is prepared to increase in size both vertically and horizontally, allowing the OPTi buildings and OPTi houses to grow according the your needs and wants and in your own time.
            p
              | All OPTi components are dimensioned to be constructed <b>without any use of machineries</b>, and can be <b>easily stored and transported</b> in "standardized" containers, which also allows for a reduction in costs.

      //- Service Item 3
      .col-md-4.wow.fadeIn(data-wow-delay='.6s')
        .media
          .pull-left
            i.fa.fa-rocket
          .media-body
            h3.media-heading Investigation
            p
              | The OPTi systems result from years of <b>research and development</b> through projects already coordinated by the team at OPTi and <p>partnerships</b> with universities and institutes such as <a href="https://tecnico.ulisboa.pt/pt/">Instituto Superior Técnico</a>, the <a href="http://www.lrec.pt/">Regional Civil Engineering Laboratiry</a>, <a href="http://www.fundec.pt/pt-pt">FUNDEC</a> and <a href="http://www.m-iti.org/">Madeira Interactive Technologies Institute</a>.
            p
              | In addition,<b> our Research and Development team</b> works diligently to innovate and bring  the best constructive solutions for your home.
