//- Services Section
section#technology.services
  .container
    .row.text-center
      .col-lg-12.wow.fadeIn
        //- h2 Casas preparadas para o século XXI
        //- h2 A OPTi constrói as melhores casas
        h2 A Home for the Future
        hr.colored
        p This is the new generation of construction technology, the result of years of research and development
    .row.content-row
      //- Service Item 1
      .col-md-4.wow.fadeIn(data-wow-delay='.2s')
        .media
          .pull-left
            i.fa.fa-clipboard
          .media-body
            h3.media-heading Certified System
            p
              | The OPTi Housing System <b>complies with even the most demanding European and US legislations</b>. By exceeding those standards, we are more than able to provide the best structural, architectural, safety, fire resistance, energy, acoustic and thermal efficiency guarantees possible.
            p
              | All of the materials that we use are subjected to a </b>variety of comprehensive safety tests</b>. OPTi houses are built to withstand earthquakes, cyclonic winds, and severe atmospheric conditions.
      //- Service Item 2
      .col-md-4.wow.fadeIn(data-wow-delay='.4s')
        .media
          .pull-left
            i.fa.fa-pencil
          .media-body
            h3.media-heading The Construction Process
            p
              | The construction system uses a combination of <b>metal framework</b> and <b>composite panels</b>. The result is a well-engineered and rigid grid-like structure that can expand both vertically and horizontally. This allows our range of OPTi buildings and OPTi houses to grow in your own time and according to your particular needs and wants.
            p
              | All OPTi components are dimensioned to be constructed <b>without the use of any machinery</b>. This allows the building components to be <b>easily stored and transported</b> in "standardised" containers, and that results in additional reduction in overall costs.

      //- Service Item 3
      .col-md-4.wow.fadeIn(data-wow-delay='.6s')
        .media
          .pull-left
            i.fa.fa-rocket
          .media-body
            h3.media-heading Investigation
            p
              | The OPTi systems are the result of several years of <b>research and development</b>. This R&amp;D was done on projects that were coordinated by the team at OPTi and <p>partnerships</b> with universities and institutes including <a href="https://tecnico.ulisboa.pt/pt/">Instituto Superior Técnico</a>, the <a href="http://www.lrec.pt/">Regional Civil Engineering Laboratiry</a>, <a href="http://www.fundec.pt/pt-pt">FUNDEC</a> and the <a href="http://www.m-iti.org/">Madeira Interactive Technologies Institute</a>.
            p
              | You can be confident that <b> our Research and Development team</b> will continue to work diligently to innovate and bring the best constructive solutions for your home.
