!= partial("./_navigation")
!= partial("./_header")
!= partial("./_advantages")
!= partial("./_cta-quote")
!= partial("./_technology")
!= partial("./_projects")
!= partial("./_cta-button")
!= partial("./_team")
!= partial("./_cta-newsletter-signup")
!= partial("./_contact")
!= partial("./_footer")
